[2019-06-05 07:53] powturbo commented on #358
New rebuild and benchmarks with the modified  "nmoinvaz/zlib-ng".
Not sure what are your expectations, but there is no doubt about the linked zlib-ng or the timings.
All benchmarks are repeated 15 times and each benchmark is repeated a minimum of 2 seconds.
The CPU is not overclocked, the results are stable between several runs.
cmd: "./turbobench html8.dat -m -I15 -J15" (see [Turbobench Compressi

[2019-06-05 07:58] powturbo commented on #358
Here is another benchmark with a large file enwik8 (100MB):
<pre>
      C Size  ratio%     C MB/s     D MB/s   Name
    36475786    36.5      21.08     410.17   zlib_ng 9
    36475796    36.5      17.30     281.10   zlib 9
    36548925    36.5      21.13     280.70   zlib 6
    37022957    37.0      36.87     440.90   zlib_ng 6
    42298778    42.3      63.79     273.13   zlib 1
    56030799    56

[2019-06-05 08:10] mtl1979 commented on #358
@powturbo We will fix any new conflicts as you post more recent logs... This has been in our TODO for a long time...

[2019-06-05 15:04] nmoinvaz commented on #358
@powturbo, I *believe* you can overcome that by defining `ZLIB_CONST` in zlib library.

[2019-06-06 15:46] nmoinvaz commented on #358
@powturbo, did defining `ZLIB_CONST` solve the problem?

[2019-06-06 16:55] powturbo commented on #358
Thank you, I've declared the used 2 functions prototypes directly into the source. It is enough for this benchmark.

[2019-06-13 17:21] iii-i opened #361 "ppc64le: match[2] assertion error"
When running the following script on ppc64le:

[code]

after a few minutes I get a `match[2]?` assertion error.

I patched `z_error` in order to get a core dump, and here is the backtrace:

[code]

Some values:
[code]

[2019-06-13 17:54] mtl1979 commented on #361
So essentially there is one bit difference but hash for both three byte sequences is same (bit 0x40)...

[2019-06-13 18:05] iii-i commented on #361
I managed to reproduce this with a [smaller file](https://github.com/zlib-ng/zlib-ng/files/3287491/500K.gz):

[code]

[2019-06-13 19:23] mtl1979 commented on #361
When I tried to calculate the hash on paper, I got same s->ins_h (0x3df3) when using byte sequence from scan-2, but different when using bytes from match-2, so insert_string_c() seems to work correctly assuming s->hash_shift is 5 and s->hash_mask is 01111111 11111111 in binary. or 32767 in decimal.

For match-2 I got hash of 0x‭3db3. I'm still not sure where it can get same hash for both sequences

[2019-06-14 09:07] iii-i commented on #361
Bisect (unhelpfully) points to:

[code]

[2019-06-14 10:18] iii-i commented on #361
Even [smaller file](https://github.com/zlib-ng/zlib-ng/files/3290213/2K.txt):

[code]

[2019-06-14 10:18] mtl1979 commented on #361
@iii-i We have already found quite many bugs in deflate_medium and managed to fix some of them. Like I already said, finding the exact line where the bug is might be harder than just blatantly getting rid of the assert and simply comparing all three bytes.

[2019-06-14 10:39] iii-i commented on #361
@mtl1979 I could give it a try - but wouldn't that degrade performance everywhere? Also, isn't there a possibility that, since we don't fully understand the bug, it would resurface elsewhere? Another thing that bugs me is that I see this on ppc64le, but not on x86_64.

In the meantime I tried to strip the problematic file byte-by-byte and got [this](https://github.com/zlib-ng/zlib-ng/files/3290253

[2019-06-14 10:49] mtl1979 commented on #361
Something doesn't seem right in line "s->ins_h = s->window[match.strstart];" in deflate_medium.c ...

All calls to insert_string_* should be using consecutive bytes, but the next call uses match.strstart - 1 ... For the logic to be correct, it should initialize s->ins_h with match.strstart - 2 if that doesn't wrap around, and zero if it does wrap around.

[2019-06-14 11:35] iii-i commented on #361
I checked the sequence of `insert_string_c` calls, and it is indeed incorrect:

[code]

`18` is the corrupted `cur_match` in the problematic `longest_match` call.

[2019-06-14 11:42] mtl1979 commented on #361
@iii-i I updated my previous comment with code that makes sure the first hash is calculated correctly... There can still be gaps, as only last two bytes are important and it uses the previous byte as initial hash.

[2019-06-14 11:51] iii-i commented on #361
Unfortunately, this did not help at all. I have single-stepped through the code between `insert_string_c(14)` and `insert_string_c(18)` calls and I'm currently trying to wrap my head around the trace. But maybe you can already see something? One interesting thing is that the problem involves calling `deflate_medium()` twice.

[code]

[2019-06-14 12:47] mtl1979 commented on #361
If deflate_medium is called twice in a row, it means it goes past the valid input buffer...

[2019-06-14 14:39] iii-i commented on #361
It turns out that the presence of two `deflate_medium()` calls is irrelevant. If I append 1k `\0`s to the file, there will be only one call (because we won't hit `s->lookahead < MIN_LOOKAHEAD` just yet), but the current issue will still occur at the same spot.

[2019-06-14 16:04] iii-i commented on #361
The following makes the problem go away:

[code]

The input on which the original and the tweaked code diverge appears to be: `match_length == 6 && strstart == 12 && orgstart == 15`. I think the tweaked code misses the case when `strstart < orgstart < strstart + match_length` - we still need to insert `[orgstart:strstart + match_length]` then.

[2019-06-14 16:07] mtl1979 commented on #361
So it's an overlapping match?

[2019-06-14 16:20] iii-i commented on #361
You mean, something non-trivial produced by `fizzle_matches`? Yes:

[code]

[2019-06-14 16:25] mtl1979 commented on #361
I was thinking something like:
[code]

[2019-06-14 16:32] iii-i commented on #361
I've updated the PR, could you have a look please? I used `match.strstart + match.match_length - match.orgstart` as a length - in this case it has the same value as `match.orgstart - match.strstart`, but if we take e.g. `match_length == 4 && strstart == 12 && orgstart == 15`, we would need to insert only 1 hash.

[2019-06-14 16:36] mtl1979 commented on #361
I mostly saw some weird white-space issues... I don't think using match_length is anything bad... What I wrote was just the general idea how and where it could be fixed...

[2019-06-22 15:20] nmoinvaz commented on #358
@powturbo, can you review #363 and see if those changes solve all your problems?

[2019-06-24 14:47] iii-i opened #364 "Segfault in longest_match after switching compression levels"
This is the issue for the finding described in https://github.com/zlib-ng/zlib-ng/pull/340#issuecomment-498637739.

Proposed solution is described in https://github.com/zlib-ng/zlib-ng/pull/340#issuecomment-498640486 - it could not be fully regtested back then due to https://github.com/zlib-ng/zlib-ng/issues/361.

I plan to create a separate testcase (I think that hitting it in the slightly modifi

[2019-06-24 18:23] powturbo commented on #358
- Still the same linker errors.
- zlib-ng is now also benchmarked on ARM A73. Significant decompression speedup againsdt zlib
see: [Web compression Benchmark](https://sites.google.com/site/powturbo/home/web-compression)

[2019-06-24 18:32] nmoinvaz commented on #358
The exact same linker errors? How is that possible now that all the functions have been renamed?

[2019-06-24 20:34] powturbo commented on #358
/usr/bin/ld: zlib/deflate.o:(.rodata+0x0): multiple definition of `deflate_copyright'; zlib-ng_/libz-ng.a(deflate.o):(.rodata+0x0): first defined here
/usr/bin/ld: zlib/zutil.o: in function `zcfree':
zutil.c:(.text+0x50): multiple definition of `zcfree'; zlib-ng_/libz-ng.a(zutil.o):zutil.c:(.text+0x50): first defined here
collect2: error: ld returned 1 exit status
make: *** [makefile:543: turboben

[2019-06-24 20:45] powturbo commented on #358
The file trees.c is not updated since 1 month.

[2019-06-24 21:12] nmoinvaz commented on #358
For,  #363, it should be: https://github.com/nmoinvaz/zlib-ng/tree/fixes/zlib-dual-link-v2

[2019-06-25 11:39] powturbo commented on #358
NOW:
/usr/bin/ld: zlib/inffast.o: in function `inflate_fast':
inffast.c:(.text+0x0): multiple definition of `inflate_fast'; zlib-ng_/libz-ng.a(inffast.o):inffast.c:(.text+0x0): first defined here
/usr/bin/ld: zlib/inftrees.o: in function `inflate_table':
inftrees.c:(.text+0x0): multiple definition of `inflate_table'; zlib-ng_/libz-ng.a(inftrees.o):inftrees.c:(.text+0x0): first defined here

[2019-06-25 17:39] nmoinvaz commented on #358
@powturbo, Thanks for reviewing that PR branch. I have made some additional changes which should get rid of those last two.

[2019-07-18 08:50] #361 closed, assigned to nobody

[2019-07-18 09:22] #364 closed, assigned to nobody

[2019-07-18 11:41] Dead2 commented on #358
This has all been merged now @powturbo, could you please test and verify that things are all good now?

[2019-07-18 11:42] Dead2 commented on #358
I should also mention that one of the commits I merged today gave a minor improvement in compression ratio for levels 4-6, but also losing a minor bit of speed.

[2019-07-31 14:12] mathstuf commented on #338
(CMake developer here)

@mtl1979 Could the issues you've seen with CMake and Visual Studio be filed somewhere? We cannot fix issues we don't know about. If it is specific to the CMake shipped with Visual Studio, there's not too much we can do about that though (I think they're closer to using unpatched versions, but I don't think it is quite complete yet). But Visual Studio support in CMake itself

[2019-07-31 15:09] mtl1979 commented on #338
@mathstuf Visual Studio 2015 does not come with bundled cmake, so the issue is with official download. It was already reported as I knew it was gonna be fixed for later version of Visual Studio. The main problem is that Visual Studio defaults to 32-bit Intel executables in all possible scenarios and only way for cmake to work correctly is to honor the environment variables instead of relying to sc

[2019-07-31 15:13] mathstuf commented on #338
Starting with 3.14, CMake defaults to using the host platform as the default target for Visual Studio generators. The `-A` flag is the way to switch which architecture is targeted for that ~~platform~~ generator as well. For the Ninja generator, yes, CMake needs to be run in the appropriate environment to get the compiler toolchain you want.

Edit-to-add: Hmm, maybe that's just the 2019 generator

[2019-07-31 15:23] mtl1979 commented on #338
@mathstuf Using host platform is incorrect too as it will also be correct in only 33% of the cases. As most of the people using Visual Studio know, it can be used for compiling 32-bit Intel, 64-bit Intel and 32-bit ARM on either 32-bit or 64-bit Windows.

[2019-07-31 15:28] mathstuf commented on #338
That is the common case though… There has to be some default target architecture. CMake doesn't really do builds over a cross product of requested flags (ancient internal architecture decisions mean this isn't going to change anytime soon), so each build tree only supports a single architecture. The `-A` flag is the way to select a non-default target architecture.

[2019-07-31 15:37] mtl1979 commented on #338
@mathstuf That was my point, it's design flaw in the detection of correct generator. It can never guess the correct one in 100% of the cases because Visual Studio is essentially cross-compiler. It can only work if it uses same logic as Visual Studio itself. One batch file setting up the build environment for each host-target pair.

[2019-07-31 15:45] mathstuf commented on #338
Cross compiling is not something one can just "assume" in a given build and expect everything to be peachy. Maybe here, but any build which generates a tool that it expects to be able to run later needs to build it for the host. Any `try_run` check needs similar assistance. How are the tests meant to be run?

Other projects have been able to work with the way CMake works today (and I'll be among t

[2019-07-31 15:51] mtl1979 commented on #338
@mathstuf Basically we were just comparing which one is better, hand-crafted nmake makefile already in the tree or cmake. Obviously configure script can only be used with Cygwin or MinGW.

[2019-07-31 15:53] mathstuf commented on #338
OK, thanks. Yes, if that is what you want, then CMake cannot provide such a build (and is highly unlikely to in the forseeable future). I'll observer that that does not preclude making improvements to the CMake build itself, only in making it the only supported build system for the project.

[2019-07-31 15:59] mtl1979 commented on #338
@mathstuf I think you understood my point quite well... I don't like bitching about decisions made by other projects but removing something that "just" works and replacing it with something that only works about 33% of the cases is in my humble opinion one very good reason to reject a change.

[2019-08-06 15:47] powturbo commented on #358
Thanks. There are no more linker errors now.

[2019-08-12 18:46] nmoinvaz commented on #338
Does it make sense to have a `BUILD_SHARED_ONLY` and `BUILD_STATIC_ONLY` cmake options? Or perhaps a `BUILD_SHARED_AND_STATIC` option that is defaulted to ON. When turned off then it will respect the `BUILD_SHARED_LIBS` cmake option..

[2019-08-12 20:10] nmoinvaz commented on #338
Honestly, I think the CMakeLists.txt will be better served by just have a single library build and configurable with cmake's `BUILD_SHARED_LIBS` option due to all the branching that would be required - having to do this if zlib building or that if zlibstatic etc.

[2019-08-13 13:16] mathstuf commented on #338
The rationale is that on the consuming side, CMake prefers to use the target name. The idea is that the consumer just says `target_link_libraries(mytgt PRIVATE zlib::zlib)` and whether that is static or shared depends on what the found zlib package is built as. Having to do `if`/`else` in the consuming code (possibly based on some `USE_STATIC_ZLIB` option, more likely just short-circuited via `BUI

[2019-08-21 07:29] Dead2 commented on #284
Does PR #382 affect this problem at all? It seems like a real bug in deflate_quick, but I am not clear on whether it fixes this problem or not.

[2019-08-22 16:32] bmrzycki commented on #284
Hello @Dead2 . I rebased my internal test framework to c0f0acfb5c53eb9bff0405af0d05cd709205098c after seeing PR #382 was merged to tip. I then re-ran `bench/chromium_zlib_bench.cc` without any of my above patches to prevent failures. When running I still see the same failure message:
[code]

[2019-08-23 08:02] Dead2 commented on #358
Closing this since the bug has been fixed.

[2019-08-23 08:02] #358 closed, assigned to nobody

[2019-08-23 08:13] Dead2 commented on #284
@bmrzycki Thank you for checking, I really appreciate it :)

I am hoping that this bug is related to #390, since that seems to erroneously emit an extra end block each time it runs out of data in the in-buffer.
At least that offers a logical explanation to this bug. I have otherwise been unable to understand how deflate_quick could deliver worse worst-case compression than the algorithm itself exp

[2019-08-23 14:45] bmrzycki commented on #284
@Dead2 you're welcome. :)

I manually patched c0f0acfb5c53eb9bff0405af0d05cd709205098c with the code from PR #390 :
[code]

and I still see the same `compress failed (0)` message for `fireworks.jpeg`. It's unclear to me if this is a false path or merely an incomplete patch.

[2019-08-24 10:13] Dead2 commented on #336
It actually looks like target function attributes can't work. Pragmas is a little better, but still has problems at least on older compilers (GCC 4.x for example).

The thing is that some of the include files need to be compiled with -msse2 for example to enable builtins to be present (otherwise it fails completely or gives you a pure-c fallback builtin instead). And we can't use function attribut

[2019-08-28 15:47] sebpop opened #394 "[x86_64][msan] make test fails"
On x86_64 `make test` started failing after https://github.com/zlib-ng/zlib-ng/pull/348 when configured with `./configure --with-msan`.  There was a first fix that removed several errors: https://github.com/zlib-ng/zlib-ng/pull/367 and there still seem to be some problem left:

[code]

This error is x64 specific: `make test` passes on aarch64.
It may be in the code of `fill_window_sse.c` or `crc_f

[2019-09-07 18:22] nmoinvaz commented on #284
With fireworks.jpeg I am getting the following error using deflate level 1 and mem level 1:
[code]
When I comment out the following line, it works:
[code]

[2019-09-09 16:59] nmoinvaz commented on #284
@bmrzycki can you test my PR #396 and see if it solves the problem for you?

[2019-09-11 04:12] nmoinvaz commented on #394
I think this may be complaining about `buf` variable in `compress_chunk` in switchlevels. It is uninitialized before use, which I think for this test case is intended. But I also wonder if the latest crc_fold changes make a difference.

[2019-09-11 16:28] bmrzycki commented on #284
Hello @nmoinvaz , I applied the code in #396 on top of 5d4d630c30561e652f4cfe6555af7a3ff8fa0609 :
[code]

And the test still failed on x86_64 (zlib wrapper):
[code]

[2019-09-19 14:13] Dead2 opened #409 "Several warnings in example.c, minigzip_fuzzer.c and standalone_fuzz_target_runner.c"
Several minor warnings need to be fixed.
I'd like to enable -Werror for CI builds, but we cannot do that until these have been fixed.
There might also be others for other architectures, but these are the ones that appear on my machine.
[code]

[2019-09-19 15:09] Dead2 opened #411 "Travis fails on windows during minigzip_fuzzer test"
See for example: https://travis-ci.org/zlib-ng/zlib-ng/jobs/587057525
This fails in PR: #408 but I don't see anything that should affect the windows builds, but if this takes random source files to process, then those changes might actually somehow expose this otherwise hidden bug. The specific commit that failed here is: 9b6d934aee6ce743fd04290eb100d66d1f2f9cb7

[code]

[2019-09-19 15:36] Dead2 opened #412 "Fuzzers fail to execute correctly on ARM in travis"
There are no errors during compilation, but when executing, it does not seem to be able to recognize the executable format or something. Should these be executed through qemu or something perhaps?

See https://travis-ci.org/zlib-ng/zlib-ng/jobs/587057552

[code]

[2019-09-19 19:13] Dead2 commented on #394
This seems to be fixed for me now, can you confirm @sebpop ?

[2019-09-19 19:14] Dead2 commented on #336
Closing this now.

[2019-09-19 19:14] #336 closed, assigned to nobody

[2019-09-19 19:30] Dead2 opened #416 "Clang warnings in example.c and gzclose.c"
[code]

[2019-09-19 19:30] Dead2 commented on #416
Example here https://travis-ci.org/zlib-ng/zlib-ng/jobs/587156469

[2019-09-19 20:38] Dead2 opened #418 "Warnings in checksum_fuzzer.c and example.c"
https://travis-ci.org/zlib-ng/zlib-ng/jobs/587160114
[code]

scan-build also fails with 4 bugs during the above build, unfortunately I don't know what it found.

[2019-09-19 20:41] Dead2 opened #419 "asan fails with GCC5.4 -DZLIB_COMPAT=ON -DWITH_NEW_STRATEGIES=NO -DWITH_OPTIM=NO"
All fuzzer tests fails similar to this:
[code]
See: https://travis-ci.org/zlib-ng/zlib-ng/jobs/587160122

[2019-09-19 20:49] Dead2 opened #420 "Travis missing clang-3.8 ppc64 msan library"
See CMakeError.log from: https://travis-ci.org/zlib-ng/zlib-ng/jobs/587160125
[code]
An alternative is using a newer clang for msan, 4.0 does seem to have the msan library.

[2019-09-19 20:57] sebpop commented on #394
Seems to be fixed now.  Thanks!

[2019-09-20 01:12] nmoinvaz commented on #418
Perhaps we should have a macro called `#define Z_UNUSED(var) ((void)var)` in zlib-ng.h

[2019-09-20 01:23] nmoinvaz commented on #416
The example.c warning is fixed in #421.

[2019-09-20 01:46] nmoinvaz commented on #416
I don't see how those other warnings are being caused in minigzip.c

[2019-09-20 01:52] mtl1979 commented on #416
Those array index warnings are bug in compiler intrinsic used for optimized strcmp(). Normal compiler will discard the part where index goes out of bound as it already knows how long the string constant is.

Personally I would avoid using *argv and use argv[] instead.

[2019-09-20 06:35] Dead2 commented on #418
@nmoinvaz Yes, I like that idea

[2019-09-20 11:47] Dead2 commented on #418
This warning remains:
[code]

[2019-09-20 17:18] sebpop commented on #394
This morning I have seen that the oss-fuzz bot compile error has been fixed.  Thanks @nmoinvaz !

[2019-09-20 17:18] #394 closed, assigned to nobody

[2019-09-20 20:18] Dead2 opened #426 "Tests failing when crosscompiling"
Fuzzer tests are not run through the crosscompiling emulator at all, and fails on arm and ppc.

All tests fail on ppc, do we need a toolchain file that defines the qemu emulator perhaps?

Example build showing failures:
https://travis-ci.org/zlib-ng/zlib-ng/builds/587616712

[2019-09-20 20:20] Dead2 commented on #412
Replaced issue with #426

[2019-09-20 20:20] #412 closed, assigned to nobody

[2019-09-20 21:16] Dead2 opened #427 "configure script does weird things on osx"
See: https://travis-ci.org/zlib-ng/zlib-ng/jobs/587639851

It does not fail, but it seems sed is not happy with us.

[code]

[2019-09-20 22:15] mtl1979 commented on #427
Should use gsed on OS/X instead...

[2019-09-20 22:50] nmoinvaz commented on #426
Try using this instead on CMakeLists.txt @ ~883:

[code]

Then cmake will have no problem finding the executables.

[2019-09-20 22:51] nmoinvaz commented on #426
These few should be updated as well:
[code]

[2019-09-20 22:54] Dead2 commented on #426
But shouldn't it also be using ${CMAKE_CROSSCOMPILING_EMULATOR} somehow? Like the CVE ones do..

[2019-09-20 22:58] nmoinvaz commented on #426
Yes that's right. I'll take a look at it and see what works.

[2019-09-20 23:00] Dead2 commented on #426
I added your suggested changes to the ongoing "travis" branch/PR for now.
If you add them to a PR yourself, I'll just rebase it on top of that.

[2019-09-20 23:10] Dead2 opened #430 "Signedness warnings in match_p.h on ARM"
https://travis-ci.org/zlib-ng/zlib-ng/jobs/587689008
[code]

[2019-09-20 23:53] nmoinvaz opened #433 "Travis codecov causing warnings on Windows"
[code]

https://travis-ci.org/zlib-ng/zlib-ng/jobs/587697614

[2019-09-21 06:45] Dead2 commented on #433
Yep, this is in my stack of projects I started this week, then I went down the rabbit hole to fix the problems I encountered while trying to fix this and other coverage problems. I think I might soon get back to this one finally.

[2019-09-21 18:21] nmoinvaz commented on #411
I think we can close this?

[2019-09-21 19:02] Dead2 commented on #411
Yep, thanks.

[2019-09-21 19:02] #411 closed, assigned to nobody

[2019-09-21 21:19] nmoinvaz commented on #426
I think this can be closed too

[2019-09-21 21:19] nmoinvaz commented on #418
This can be closed

[2019-09-21 21:20] nmoinvaz commented on #409
This can be closed I think

[2019-09-21 21:21] #426 closed, assigned to nobody

[2019-09-21 21:21] #418 closed, assigned to nobody

[2019-09-21 21:21] #409 closed, assigned to nobody

[2019-09-21 21:23] Dead2 commented on #420
Turns out MSAN has issues on ppc64le in general, so Ubuntu stopped including it in newer builds too.

[2019-09-21 21:23] #420 closed, assigned to Dead2

[2019-09-21 21:24] #416 closed, assigned to nobody

[2019-10-02 14:22] xnox commented on #90
So, should Ubuntu consider switching to zlib-ng by default?

[2019-10-06 15:24] nmoinvaz opened #437 "MemorySanitizer: use-of-uninitialized-value in makefixed.c:43"
[code]

[2019-10-06 16:07] nmoinvaz opened #438 "MemorySanitizer: use-of-uninitialized-value in example.c"
[code]

[2019-10-06 17:18] nmoinvaz commented on #437
The bug looks like it may be in zlib as well.

[2019-10-06 17:22] nmoinvaz commented on #437
The thing to do here might be to memset state parameter before the call to buildfixedtables but I'm not 100% sure.

[2019-10-06 20:46] Dead2 commented on #90
@xnox I'd say distros should consider adding zlib-ng as a secondary library first. That way it simplifies testing and development againsts zlib-ng for third-party software.

But we have yet to commit to a release with a stable api (We need to go through the API another time and consider whether there is anything we want to remove or modify before committing to maintaining it like that. Adding new

[2019-10-06 20:48] Dead2 commented on #419
Asan just has problems on PPC it seems

[2019-10-06 20:48] #419 closed, assigned to nobody

[2019-10-06 22:29] xnox commented on #90
@Dead2 if I am investing time into it, the goal would be to have it the default. E.g. We did similar with jpeg-turbo switch. I do wonder how many bugs I'll find by throwing a distro at it.

I'm not sure I care about the API that much, it's more important to have all symbols versioned and maintain ABI *and* carefully bump it when changes are done. It is inevitable that certain APIs will be deprecat

[2019-10-07 00:05] nmoinvaz opened #440 "Conversion warnings in deflate on Windows"
[code]

[2019-10-07 07:40] Dead2 commented on #90
@xnox I understand where you are coming from, but I am unsure whether you understand how zlib-ng is laid out. Zlib-ng can be compiled two ways, one is as a native zlib-ng library that requires minor changes in applications to link against it (includes using the updated api with size_t support by default, etc etc). It is also possible to compile zlib-ng as a zlib-replacement, where we try to emulat

[2019-10-07 10:44] xnox commented on #90
We have 2,119 binary packages that link against classic zlib ABI, plus many third party binaries & multiarch binaries (32bit i686). We have ability to stage full archive rebuilds against 6 architectures, and it would be easier to do such a run with classic ABI in a staging environment.

Adding native ABI sounds good, however, we wouldn't want to have both zlib-ng & zlib in main. In Ubuntu main, we

[2019-10-07 12:37] Dead2 commented on #90
@xnox zlib-ng in zlib-compat mode can live together with zlib-ng native.
zlib-ng in zlib-compat is a zlib replacement, and will cause problems if it is linked in the same program as stock zlib. I agree that a zlib-ng-compat package should conflict with zlib-stock.

All zlib-ng (native mode) public functions etc are prefixed to avoid conflicts and weird bugs, therefore it can be linked into the sam

[2019-10-07 14:30] xnox commented on #90
@jtkukunas hey, Would you be able to help resolve #284 in zlib-ng? A regression in an Intel optimized code path.

zlib-ng ships optimized codepaths for many architectures, and thus is attractive to be shipped by default in Ubuntu. Do you think it is possibly to merge https://github.com/jtkukunas/zlib into zlib-ng? Especially if yours one is faster and more correct.

[2019-10-07 18:52] Dead2 opened #445 "LFS, Large File Support, can it be dropped?"
I am considering whether we should drop support for LFS in zlib-ng's native ABI and possibly partially in the compat code as well.

Assume we always define: `_FILE_OFFSET_BITS=64?`, that should replace all the LFS-affected libc functions with 64-bit capable ones (without requiring us to call the *64 variants).

Assuming we always have 64-bit file-functions and a off64_t data-type could simplify so

[2019-10-07 19:19] nmoinvaz commented on #445
I have encountered some people on Android mention it not supporting LFS:
https://github.com/nmoinvaz/minizip/pull/221 and https://github.com/nmoinvaz/minizip/pull/138

This is what I did for minizip:
https://github.com/nmoinvaz/minizip/blob/6f9a9c6b1117def0c88944b607c3cd8251d68729/mz_strm_os_posix.c#L27

open and close functions do not need 64-bit versions. So instead of making my own 64-bit compa

[2019-10-07 19:19] Dead2 commented on #445
One of the sources I used when looking at this is the second answer here: https://stackoverflow.com/questions/9073667/where-to-find-the-complete-definition-of-off-t-type
Especially points 2 and 3 are interesting there.
[code]
Since off_t and off64_t are posix and not in C99, it would make sense to changing to using int64_t instead, at least for the zlib-ng native ABI. That is another cludge (see z

[2019-10-07 19:37] Dead2 commented on #445
@nmoinvaz Interesting. Android API version 23 (Andoid 6) is no longer supported by google, so I guess that might no longer be so critical.
I guess I would be OK with dropping support for deprecated Android versions if it gives us a cleaner and more straight-forward ABI.

[2019-10-07 23:16] nmoinvaz commented on #445
I think it should be possible to continue to provide compiler support for 32-bit file api while making our interface 64-bit only.

[2019-10-07 23:17] #438 closed, assigned to nobody

[2019-10-07 23:17] #437 closed, assigned to nobody

[2019-10-07 23:18] nmoinvaz commented on #430
This can be closed.

[2019-10-08 03:20] jtkukunas commented on #90
Hey @xnox, long time no see.

I'll take a look at #284. The stock deflate_quick strategy has atrophied over the years. Most of the larger deployments aren't interested in that compression ratio tradeoff, and the ones that are are all using highly customized versions that target their specific data patterns. The general improvements haven't made it back into the generic version yet. In the short-te

[2019-10-08 13:00] #430 closed, assigned to nobody

[2019-10-12 05:30] nmoinvaz opened #449 "trees.c unsigned integer overflow when using gzflush"
I'm getting these errors when trying to use `gzflush` with Z_FINISH before `gzclose`:
[code]
Here is a minimal example that should produce it:
[code]

1. `gzflush` finishes the stream with `deflate/Z_FINISH` and calls `deflateReset` afterward.
2. Then `gzclose` tries to also finish the stream with `deflate/Z_FINISH`.
3. Because the previous call to `deflateReset` the stream doesn't see that it is

[2019-10-12 14:41] nmoinvaz opened #451 "quick_insert_string needs MSVC inline assembly"
The function `quick_insert_string` that is part of deflate_quick.c needs MSVC inline assembly.

[code]

Notice how `insert_string_sse` has the MSVC inline assembly version:

[code]
It is also missing `#if defined(X86_SSE42_CRC_INTRIN)` and `h = __builtin_ia32_crc32si(h, val);`. I don't know enough assembly to do it. I figured it might be an easier task for somebody else.

[2019-10-12 14:43] nmoinvaz commented on #451
The solution I had come up with was:

[code]

But I don't think the additional `memcpy` would be acceptable, however the code would be the same as in `insert_string_sse`.

[2019-10-12 15:12] mtl1979 commented on #451
Obviously it should copy the result back to "h", not "val". The test for "X86_SSE42_CRC_ASM" is inadequate as it should also test for "_MSC_VER", because the syntax for inline assembly is different.

[2019-10-12 19:38] nmoinvaz commented on #451
I was experimenting with some code. But I think it would be better to have inline that doesn't use memcpy.

[2019-10-12 21:10] mtl1979 commented on #451
The problem is that the initial value must be stored in register, not memory.

[2019-10-13 00:05] nmoinvaz opened #452 "AddressSanitizer: heap-buffer-overflow in crc_folding.c:333"
[code]

This can be reproduced in my improvements/added-codecov branch. It fails on `crc_fold_copy.c` line 333 at which point len = 3. At the top of the function len is an odd number. Here is the GitHub Actions build that it fails on https://github.com/nmoinvaz/zlib-ng/runs/257248230.

[2019-10-13 01:36] nmoinvaz opened #453 "RuntimeError: Load of misaligned address in deflate_quick.c:66"
Sanitizer warning when using ClangCl:
[code]
Line in question:
[code]

[2019-10-13 01:40] nmoinvaz commented on #452
This may be related:
[code]

[2019-10-13 01:45] nmoinvaz commented on #451
I also tried `register unsigned int val = *(unsigned int *)(s->window + str);` but it complains about not being 4-byte aligned.

[2019-10-13 09:49] mtl1979 commented on #451
Unaligned loads and stores are perfectly safe using general-purpose registers on x86 and AMD64 architectures, so any complains are false positives.

[2019-10-13 23:51] nmoinvaz commented on #451
I think it might matter more for the other architectures such as ARM 32-bit and SPARC.

[2019-10-13 23:52] nmoinvaz commented on #451
Could do something such as:

[code]

What do you think?

[2019-10-14 00:07] nmoinvaz opened #454 "Compiler warnings in fuzzers"
[code]

[2019-10-14 11:01] turol commented on #451
@mtl1979 Unaligned reads are safe in assembler code but NOT in C/C++. See [A bug story: data alignment on x86](https://pzemtsov.github.io/2016/11/06/bug-story-alignment-on-x86.html)

[2019-10-14 13:59] mtl1979 commented on #451
@turol That is why I said general-purpose registers, that excludes vector registers. If the code does not crash when compiled as release binary, it really does not need a workaround. There is zillion bugs in various gcc versions, but normal code rarely hits any of them. I already said the code was bad, so it does not matter what issues might result in using memcpy vs. C assignment.

[2019-10-14 15:41] turol commented on #451
@mtl1979 Did you read the article? The compiler automatically used vector registers and got it wrong because the programmer violated the alignment rules. It was not a compiler bug. Even if the code compiles and works with the current compiler it might break with some future one which is always "fun".

As far as I know the GCC/clang optimizer works something like this: it sees a read from a pointer

[2019-10-14 16:38] mtl1979 commented on #451
@turol I've read the article more than once as I work with the Linaro team to fix arch-specific bugs. When there is issues with mixed C/assembler code, my first solution is always hand-written assembler code, including naked functions with Visual C++.

[2019-10-15 16:44] nmoinvaz opened #456 "Unresolved external symbols in maketrees"
[code]
This happens in debug mode:
[code]
It appears trees.c requires some functions which are in zlib library and only work with static library.

If I change CMakeLists.txt and add zutil.c:
[code]
And then move `send_bits()` function from deflate.c to trees.c it works, but I'm not sure moving `send_bits()` is something we want to do.

[2019-10-17 14:06] rhenwood-arm opened #457 "FYI: travis-CI adds native AArch64 support"
Hi,
I thought I would drop in to highlight that Travis-CI have just added native AArch64 support: https://blog.travis-ci.com/2019-10-07-multi-cpu-architecture-support. I recognize zlib-ng has a nice cross-compilation script to build for the supported platform on Travis-CI today but this new feature may be helpful to extend the automatic testing for the AArch64 builds.

[2019-10-20 21:44] nmoinvaz commented on #453
I was able to reproduce this on Windows using `cmake . -DCMAKE_BUILD_TYPE=Debug -DWITH_SANITIZERS=ON -T ClangCl -A Win32 -DBUILD_SHARED_LIBS=OFF`. Clang compiler for Visual Studio must be installed.

[2019-10-20 22:50] mtl1979 commented on #456
I don't see send_bits() used anywhere else than trees.c as deflate_quick.c has its own version, so moving it to trees.c isn't really a bad idea at all...

[2019-10-20 23:01] mtl1979 commented on #457
Sometimes there is significant difference in behavior between cross-compiling and "native" compiling (on real hardware or virtual machine) due to differences in compiler implementation so I don't see anything bad in having both supported. We used to do local testing on real hardware but due to lack of time we didn't implement continuous testing.

[2019-10-23 00:35] nmoinvaz commented on #433
I think this can be closed.

[2019-10-23 00:37] nmoinvaz commented on #457
Not sure if this is necessary anymore since GitHub Actions.

[2019-10-23 01:08] #454 closed, assigned to nobody

[2019-10-23 01:09] #453 closed, assigned to nobody

[2019-10-23 01:10] #449 closed, assigned to nobody

[2019-10-23 05:30] nmoinvaz opened #467 "Buildkite CI"
Maybe now that we have GitHub Actions, is there a reason to keep around Buildkite or can we get rid of it? I never was able to access it, maybe it is invite only?

[2019-10-23 14:25] rhenwood-arm commented on #457
@nmoinvaz in my reading of the GitHub actions documentation and examples it does not appear that you can specify the platform to test on today. I would happily be told otherwise though...

[2019-10-23 16:15] nmoinvaz commented on #457
I believe you are right, it is not possible to specify the platform yet. But since the project moved from Travis CI to GitHub Actions I'm not sure if this issue is relevant anymore.

[2019-10-24 07:45] Dead2 commented on #467
It is invite only, and it still serves a purpose.
As I mentioned earlier, GitLab CI would likely have been the best choice for us because it allows a combination of cloud and private runners.
The private runners can handle stuff that the cloud cannot, such as CI benchmarking.

[2019-10-24 07:49] Dead2 commented on #457
Travis has been too slow and error-prone, with a very high level of false-positives due to Travis-related issues. So that made Travis loose most of its value to us.
We will add native aarch64 testing through Buildkite or Gitlab CI at some point (when I have time). The hardware to do the testing has been bought already.

[2019-10-24 13:39] #452 closed, assigned to nobody

[2019-10-24 13:40] #440 closed, assigned to nobody

[2019-10-25 07:09] #456 closed, assigned to nobody

[2019-10-25 07:09] #433 closed, assigned to nobody

[2019-10-25 07:16] nmoinvaz opened #470 "Codecov token"
@Dead2 you need to add the codecov secret to the GitHub project. It's called `CODECOV_TOKEN`

[2019-10-25 07:42] nmoinvaz opened #471 "Debug configuration asserts in CI"
There are two debug mode asserts that I have run into on CI:

**compress_fuzzer**
Using input [match2.zip](https://github.com/zlib-ng/zlib-ng/files/3770892/match2.zip). Original extension is pdb.

[code]
There are multiple of the same line but the one that was hit was in match_p.h at line 460. The comment above this line suggests that scan and match don't have to be equal.

**example_dict_fuzzer**

[2019-10-25 07:44] nmoinvaz commented on #471
Or perhaps we want to turn off fuzzers in debug configuration in CI.

[2019-10-25 15:01] Dead2 commented on #470
Right, I was wondering why the coverage data didn't update, but had no time to investigate. Added secret :)

[2019-10-25 16:14] Dead2 commented on #471
That depends on whether these bugs are caused by the fuzzing itself or whether the fuzzing triggered a real bug.
If it is caused by the fuzzing, then perhaps we should bypass them by using a define check ZFUZZING for example. But if these are real bugs, then we would be much better off fixing them.
So this will need some investigation I guess.

[2019-10-25 17:24] mtl1979 commented on #471
First two bytes of scan and match are not equal when it runs out of input... That check is incorrect as it should check MIN_MATCH bytes, which is 3 bytes, not 2... In some places we already reordered the test to avoid the assert completely.

[2019-10-27 19:20] nmoinvaz commented on #470
@Dead2 for some reason `CODECOV_TOKEN` is showing in the build logs as empty. It should at least show as "***" which is what it does in my fork when set properly.

[2019-11-05 22:03] nmoinvaz commented on #467
GitHub Actions now supports private runners in beta..
https://github.blog/2019-11-05-self-hosted-runners-for-github-actions-is-now-in-beta/?utm_campaign=1572989126&utm_medium=social&utm_source=twitter&utm_content=1572989126

[2019-11-07 17:38] Dead2 commented on #470
@nmoinvaz I don't see how else I can set it.
It is added as a secret with name `CODECOV_TOKEN` with the one line uuid as value, and it is set on the zlib-ng repo's settings (not sure if secrets can be set on an organization-level too, but shouldn't be necessary in any case).

I see that https://github.com/codecov/codecov-action is using it differently though, not sure whether quotation marks like

[2019-11-07 17:40] Dead2 commented on #470
Oh, now I see why.. The github page where you set secrets says this:
"Secrets are environment variables that are encrypted and only exposed to selected actions. Secrets are not passed to workflows that are triggered by a pull request from a fork of this repository."

So that basically means this can't work like we want it to.

[2019-11-07 17:59] nmoinvaz commented on #470
It is possible. I am doing it in my minizip project.

[2019-11-07 18:00] nmoinvaz commented on #470
In upload coverage action there is:

[code]

It is setting the environment variable `CODECOV_TOKEN` based on the secret called `CODECOV_TOKEN`.

[2019-11-07 18:07] Dead2 commented on #470
I don't think it does. I see no CI runs for `pull_request`, only for `push` in the minizip repo. And I only see runs triggered by you (since you are the only one having push access and you don't seem to run PRs).

If you have a look at https://github.com/nmoinvaz/minizip/pull/434/checks it doesn't look like you run any other checks than LGTM on PRs, only when you actually merge it into your repo.

[2019-11-07 18:10] Dead2 commented on #470
The setting controlling that is `settings -> actions -> Enable local and third party Actions for this repository`

[2019-11-07 18:13] nmoinvaz commented on #470
Ah I see the misunderstanding. It might not be possible with PRs then unless Codecov supports GHA.
https://community.codecov.io/t/whitelist-github-action-servers-to-upload-without-a-token/491/4

[2019-11-18 17:03] mundaym opened #477 "IBM Z (s390x): DFLTCC code compilation failure"
I'm seeing a compilation failure when compiling zlib-ng configured using `./configure --with-dfltcc-deflate --with-dfltcc-inflate` due to the use of an unknown variable name. The following code change appears to fix the issue:

[code]

Can you take a look @iii-i? I'm also seeing `make test` fail - not sure if that is expected or not.

Thanks!

[2019-11-18 17:22] iii-i commented on #477
@mundaym thanks for the patch - it looks good to me. Would you mind sending a PR?

I'm seeing the following test failures:

[code]
This one is unfortunately expected - one cannot switch compression levels when using the NXU. I think I should change the test so as to allow this.

[code]
This is the same I think.

Do you see anything in addition to these two?

[2019-11-19 09:21] mundaym commented on #477
Thanks. Test failure looks the same to me.

[2019-11-24 04:26] MilhouseVH opened #478 "armv6/v7: overriding -march, -mfloat-abi and --mfpu with incompatible values"
https://github.com/zlib-ng/zlib-ng/pull/386/files#diff-af3b638bc2a3e6c650974192a53c7291R189-R204 incorrectly detects `softfp` when cross-compiling on Linux as it overrides `-mfloat-abi` and `-mfpu` unnecessarily.

`zlib-ng` also incorrectly sets `-march=armv8-a+crc` when building for arvm7 and armv6.

From `CMakeOutput.log` (building for armv7, Raspberry Pi2):
[code]

The result of `-dumpmachine`

[2019-11-24 05:16] mtl1979 commented on #478
Cmake has limited support for cross-compiling, so all build parameters must be specified in the toolchain file, not command line. Not all combinations are supported as they must be manually inserted to CMakeFiles.txt...

[2019-11-24 06:00] MilhouseVH commented on #478
OK fair enough. In that case it looks like `zlib-ng` only really supports armv8 when cross-compiling for ARM. Anything older than armv8 is just not going to build.

It's not a big deal, as I'm just testing this to see if `zlib-ng` could be used as a drop-in replacement for `zlib` but apparently not without working around these cross-compile ARMv6/v7 build issues by patching out the broken tests.

[2019-11-24 06:09] mtl1979 commented on #478
Fixing those issues require actually having the hardware and exactly same compiler version... Successful build doesn't always result in binaries that actually run as expected.

[2019-11-24 06:44] MilhouseVH commented on #478
I'm not really sure how relevant the hardware is to the issue I'm raising, to be honest. I'm just pointing out that the current arm support in the `zlib-ng` build system is not working correctly for anything prior to armv8. If the resulting binaries actually work or not I have no idea (yet) but being able to build them for non-armv8 targets would be a good start! :smile:

Anyway, [`nss`](http://ft

[2019-11-24 06:53] mtl1979 commented on #478
When I started the ARM support in zlib-ng, I used compiler that targets armv2 and armv7. Obviously the build system has changed a lot since those days.

Most people don't know that cross-compilers don't have same preprocessor definitions and command-line parameters even if the target architecture is the same. It depends on who did the cross-compiler and what has been modified since it branched out

[2019-11-24 07:09] MilhouseVH commented on #478
It looks like these armv8/float/neon issues have been added in the last 2 months (#386).

As the distribution I'm building only supports hard float, the fix in `zlib-ng` for my project is quite simple:
[code]
However that's not a "proper" solution (I'm rubbish at `cmake`, so can't really help there).

Unfortunately other packages I need to build don't appear to be `zlib-ng` compatible so that's th

[2019-11-24 07:16] mtl1979 commented on #478
That distribution obviously is broken and such something we can't fix without breaking build on other distributions. However I'm not sure if it is warranted to add extra sanity check to fall back to hard-float if compiler reports wrong triplet. Obviously it is pretty easy to add simple compile check to verify.

[2019-11-24 07:59] MilhouseVH commented on #478
Thanks, I'll look into the `eabi`/`eabihf` distro issue - that might be a valid fix on our end. But the other armv8/neon issues remain.

[2019-11-24 11:37] okias opened #479 "Question: is intended to be used as drop-in replacement for desktops/servers/mobile?"
Hello. Thanks for your work on zlib-ng. I wonder, if it's intended to be able drop-in replace zlib on modern systems, where runs modern software (last 10 years developed?)

[2019-11-24 12:41] Dead2 commented on #479
zlib-ng compiled in zlib-compat mode is _supposed_ to be zlib-compatible. There may well be incompatibilities still here and there and only reports from end-users can help find and fix those.

zlib-ng is not drop-in compatible though, so you will need to re-compile the applications using zlib due to small differences in ABI. For linux, you can test with LD_PRELOAD for using zlib-ng only on a speci

[2019-11-24 12:43] Dead2 commented on #478
@MilhouseVH Interesting feedback, thank you for that, this is something we will have to look into further.
I wonder though, did you test compiling zlib-ng using the configure script instead of cmake? That implementation is simpler and might currently work better in this case. Could you test and report back whether we have bugs there as well?

[2019-11-24 19:24] MilhouseVH commented on #478
@Dead2 I'll test `configure` and let you know.

[2019-11-25 02:13] MilhouseVH commented on #478
Couple of `configure` issues:

1. This test for arch is a bit optimistic:

    https://github.com/zlib-ng/zlib-ng/blob/5bd3c582908503135fd8d6326ca0e2a6a947b44f/configure#L1075

    It fails to match `armv6zk` (RaspberryPi0/1) and `armv7e` (RPi2) and possibly a hundred other minor pre-armv8 variants. :smile:

    Would the following test be more suitable (and far less likely to fail)?
[code]
    or

[2019-11-25 13:38] Dead2 commented on #478
@MilhouseVH
1. The arm* would indeed be my preference. Would you care to make a PR doing that?
2.  I am thinking adding a symlink from libz.so.1.2.11 to libz.so.1.2.11.zlib-ng might be a good solution to that, what do you think? I want to make it pretty obvious that it is a zlib-ng and not a stock zlib library. An alternative would be a similar symlink from libz.so.1.2.11 to a zlib-ng-compat.so.1.

[2019-11-25 17:23] MilhouseVH opened #481 "nss build failure when using --zlib-compat (API incompatability?)"
The Mozilla package [nss](https://github.com/nss-dev/nss) (latest 3.47.1 release) builds against upstream `zlib-1.2.11` but fails to build against latest `zlib-ng` 5bd3c582908503135fd8d6326ca0e2a6a947b44f with  `--zlib-compat` enabled:
[code]
Tail end of build log: http://ix.io/22Pz

The following `nss` patch is a temporary workaround to build `nss` against `zlib-ng` (I think it works - I'm not a

[2019-11-25 17:24] MilhouseVH commented on #478
1. Done, #480

2. A sym link from `libz.so.1.2.11` to `libz.so.1.2.11.zlib-ng` should work, but it's probably worth noting that the `cmake` build currently strips the `.zlib-ng` suffix from the library version and only creates `libz.so.1.2.11` (plus sym links `libz.so`, and `libz.so.1` of course): https://github.com/zlib-ng/zlib-ng/blob/5bd3c582908503135fd8d6326ca0e2a6a947b44f/CMakeLists.txt#L30-L

[2019-11-25 17:38] MilhouseVH commented on #481
Forgot to mention, `gcc` is 9.2.0.

[2019-11-25 20:02] mtl1979 commented on #481
That code snippet is invalid and gcc is correct when it triggers an error. You can't assign string literal to non-const pointer as it would make non-local variable appear out of its scope.

[2019-11-25 20:27] MilhouseVH opened #482 "tntnet: error: expected '=', ',', ';', 'asm' or '__attribute__' before 'OF'"
Building `tntnet-2.2.1` ([website](http://www.tntnet.org/)) on Linux with latest `zlib-ng` (5bd3c582908503135fd8d6326ca0e2a6a947b44f from develop branch) and `--zlib-compat` for x86_64 host (not cross-compiling) results in the following build failure:
[code]

`tntnet` build log: http://ix.io/22Qu

No such build issue with upstream `zlib-1.2.11`.

Using `gcc-9.2.0`.

I don't currently have a fix fo

[2019-11-25 20:31] MilhouseVH opened #483 "mariadb: error: conflicting types for 'crc32'"
Building latest `mariadb-10.4.10` on Linux with latest `zlib-ng` (5bd3c582908503135fd8d6326ca0e2a6a947b44f from develop branch) and `--zlib-compat` for x86_64 host (not cross-compiling) results in the following build failure:
[code]
`mariadb` build log: http://ix.io/22Qz

No such build issue with upstream `zlib-1.2.11`.

Using `gcc-9.2.0`.

I don't currently have a fix for this, but happy to test

[2019-11-25 20:35] MilhouseVH commented on #481
Thanks but as I say, I'm not a C-coder and I just wanted a quick & dirty fix in order to progress the rest of the distro build (so that I could find any other issues, which I now have).

Obviously the ABI breakage is the bigger issue, and I've raised a couple of other issues along the same lines with other packages.

A github "ABI Break" label might be useful!

[2019-11-25 20:40] mtl1979 commented on #482
I think we removed that OF() macro because none of the modern compilers require the workaround.

[2019-11-25 20:44] mtl1979 commented on #483
This is basically result of when we added support for 64-bit architectures... "long" and "unsigned long" can be too wide so implementing the crc code in assembly would complain about register size mismatch.

[2019-11-25 20:51] mtl1979 commented on #481
I'm just reiterating the reasons why there is some differences that we are unlikely to "unfix" even if that means our API is not 100% drop-in replacement. The rest might be fixed by people who are more familiar with the code.

[2019-11-25 20:52] MilhouseVH commented on #483
@mtl1979 What is the `zlib-ng` policy on `--zlib-compat`? From your reply here it's not clear to me if this (and the other issues I've raised) is an acceptable/by-design break of ABI, or if maintaining 100% compatibility with upstream `zlib` is the goal and that this issue will be fixed.

If 100% `zlib` ABI compatability is not the goal for `zlib-ng` (when using `--zlib-compat`) then I'll stop pos

[2019-11-25 20:52] dhewg commented on #481
gcc is triggering an error because `z_stream.msg` is const in zlib-ng, where it's non-const in zlib per default (unless `ZLIB_CONST` is set). That's arguably not zlib compatible even when using `--zlib-compat`.

As for the snippet, it's setting a non-const local pointer to a pointer somewhere in `.rodata`. That's not invalid. Also, it's mozilla, it compile tested on your toaster.

[2019-11-25 21:08] mtl1979 commented on #483
Policy is that zlib-ng should be 99.99% source compatible excluding macros. It will never be binary-compatible.

[2019-11-25 21:20] MilhouseVH commented on #482
`OF()` macro is also needed when cross-compiling `libretro-uae4arm` ([website](https://github.com/libretro/uae4arm-libretro)) for arm:
[code]

build log: http://ix.io/22QR

How difficult would it be to restore this macro and thus improve compatibility with `zlib`? It's not a modern compiler issue, as this is building with `gcc-9.2.0`.

[2019-11-25 21:47] mtl1979 commented on #482
Adding it back is actually pretty easy...

[2019-11-25 21:58] Dead2 commented on #482
We need to add back a dummy OF macro to compat-mode.

[2019-11-25 22:00] Dead2 commented on #483
We'll need to add some workarounds for compat mode, so compat mode supplies zlib-compatible function definitions.

[2019-11-25 22:02] Dead2 commented on #481
This makes me wonder why ZLIB_CONST is not set for stock zlib, probably another example of legacy code being used instead of the (slightly) more modern code.

We'll need to add some workarounds for compat mode, so compat mode uses zlib-compatible function definitions and types.

[2019-11-25 22:20] MilhouseVH commented on #483
@Dead2 many thanks. I've finished building 600+ packages with `zlib-ng` (using `--zlib-compat`) for x86_64 and arm (`armv7ve`), and I can confirm the only build issues identified so far have been #481, #482 and #483, which isn't too bad at all! :)

If you can ping me on these issues when fixes become available I'll have another go at testing.

[2019-11-25 22:59] mtl1979 commented on #481
@dhewg The issue is in code lines:
[code]

This is only valid when msg is "const char *" because in that case compiler makes sure the string literal is copied if the value is not overwritten when the scope exits the function.

[2019-11-25 23:04] mtl1979 commented on #482
@Dead2 Yeah... I think it was one of the things we removed before we had two externally visible header files, one for compatibility mode and one for our own API. It's only matter of who wants to do the pull request ;)

[2019-11-25 23:07] mtl1979 commented on #483
@Dead2 Basically we need wrapper function, that converts "unsigned long" to "uint32_t" and back... it should be pretty easy but I haven't looked at the code in weeks...

[2019-11-26 03:13] MilhouseVH opened #486 "unz<func>() not present in compat mode"
Thinking about it, this may be related to #482. I've opened a new issue but feel free to close it and continue with #482/#485 if that's the best way to solve this.

The `unzClose()`, `unzOpen()` (etc.) functions don't seem to be present in `zlib-ng` with `--zlib-compat`, or perhaps the `OF()` macro implemented in #485 is not working as it should.

I'm testing with `--zlib-compat` and #485 (which i

[2019-11-26 03:24] mtl1979 commented on #486
I think I need to short-circuit the test in the OF patch... it's taking the wrong variation...

[2019-11-26 03:38] MilhouseVH commented on #486
Closing, fixed in #485.

[2019-11-26 03:38] #486 closed, assigned to nobody

[2019-11-26 05:24] dhewg commented on #481
@mtl1979 I'm not sure about invalid, maybe weird or oldschool ;) It's still accepted by C compilers (there's `-Wwrite-strings` to catch those). In any case, there's no string literals being copied, it's just a function-scope pointer assignment.

But back to the issue, nss could also just be fixed to make it `ZLIB_CONST` compatible?

[2019-11-26 05:31] mtl1979 commented on #481
@dhewg Converting string literals to "char *" is deprecated and as such invalid when using strict validation rules.

[2019-11-26 05:35] dhewg commented on #481
That I can agree with :D
Now zlib-ng has to decide if it want's to be compatible with that deprecated way (which is unfortunately the default for zlib) or if it want to be just `ZLIB_CONST` compatible.

[2019-11-26 05:39] mtl1979 commented on #481
zlib-ng clearly has limit for how old compilers we are going to support... That conversion has been deprecated since early gcc 4.x builds, so clearly far beyond what we have planned supporting... Currently we do not support any compiler older than 2013...

[2019-11-26 11:33] Dead2 commented on #471
I don't have time to work on this real soon, do any of you want to suggest PRs for one or both of these?
Without actually looking at the code, I am thinking perhaps the first assert might benefit from another conditional so it does not trigger on end-of-input, if that check is in the assert then it also won't affect performance of release builds.

The second one kind of looks like it could potenti

[2019-11-26 11:52] #482 closed, assigned to nobody

[2019-11-26 14:43] #483 closed, assigned to nobody

[2019-11-27 14:07] dhewg commented on #478
The hard/softfp detection could be improved. Right now it relies on the triple of the toolchain. A prepocessor check for `__ARM_PCS_VFP` on 32bit arm would be more reliable, like e.g. chromium/v8 is doing:
https://github.com/v8/v8/blob/master/src/base/platform/platform-posix.cc#L156
That would work for LibreELEC's current toolchain, and who knows how many more.

For 32bit arm `-mfloat-abi` is alwa

[2019-11-27 14:11] mtl1979 commented on #478
The original version I wrote had separate blocks for 32-bit and 64-bit ARM... It got totally butchered by other contributors... I try to clean up the mess the best I can, but even my skills have limits...

[2019-11-27 16:47] MilhouseVH commented on #478
@Dead2, @mtl1979: I've been discussing with colleagues working on the LibreELEC distribution how `zlib-ng` attempts to detect `hard` or `soft` float support and overrides the `-mfloat-abi` flag (and other flags) in `cmake`, and we're fairly sure the current detection method can't ever work reliably.

Currently, `zlib-ng` uses this method to set `FLOATABI`: https://github.com/zlib-ng/zlib-ng/blob/3

[2019-11-27 17:05] MilhouseVH commented on #478
(sorry - totally missed the post from @dhewg who beat me to this!)

[2019-11-27 20:03] mtl1979 commented on #478
Blindly setting hard float as default is no option as there is too many modern platforms that require soft float.

[2019-11-28 00:31] MilhouseVH commented on #478
It couldn't be any worse than setting float to the wrong value based on an unreliable test which can't be influenced by the user, meaning the build fails. Setting `hard` as a default and providing an option to use `softfp` would at least put the user in control.

Trusting the compiler flags (`-mfloat-abi`, `-mfpu`, `-march`) that are already set correctly would make all of this unnecessary.

[2019-11-28 00:43] mtl1979 commented on #478
Trusting user input pretty much makes using cmake totally pointless... I can understand it when using configure as it already has support for overriding things on command line. Like I said before, we're not going to support all broken compilers, but we can make things work better with compilers that actually don't fight logic. @Dead2 will merge in any improvements that don't break build with exist

[2019-11-30 19:10] malytomas opened #487 "Zlib-ng's CI detection in cmake causes my own CI to fail"
There in the cmake:
https://github.com/zlib-ng/zlib-ng/blob/3ea747396dcc3d63924eedbdf05bacf7866e1b29/CMakeLists.txt#L100
you detect CI and change build configuration based on it.
This causes my own CI for a project that would integrate zlib-ng to fail at link stage with missing __gcov_init and few more symbols.
Furthermore, it prevents CI from testing the cmake configuration without the maintainer

[2019-12-01 02:54] mtl1979 commented on #487
Looks like @Dead2 needs to revert the commit adding that if() block and do it in more compatible way...

[2019-12-03 04:20] #470 closed, assigned to nobody

[2019-12-03 04:24] #338 closed, assigned to nobody

[2019-12-03 04:27] nmoinvaz commented on #156
I think this can be closed unless there is something else that needs to be done.

[2019-12-06 16:18] dkrutsko opened #488 "Downloading zlib-ng using releases"
Hello, please forgive me if this has already been addressed but does zlib-ng have a standard release cycle? We are currently downloading this library by cloning the default develop branch on GitHub but that doesn't feel like a very safe approach.

Do you have a plan to use the GitHub releases feature so that we can download specific versions of zlib-ng without relying on the default GitHub branch?

[2019-12-06 17:08] mtl1979 commented on #488
I think we should at least tag some versions when the remaining bugs are fixed. I'm not sure if we release binaries for all supported targets.

[2019-12-06 18:37] dkrutsko commented on #488
Yeah I'm not sure the binaries are as important as tagging certain releases so there's less of a chance for issues when compiling this software side by side with something like nginx.

[2019-12-06 19:04] nmoinvaz commented on #488
I have done something similar for minizip project; where when you tag a release in master branch, it will automatically create a release and upload the assets. It is not too difficult but having a release any time soon is unlikely.

[2019-12-10 10:04] #479 closed, assigned to nobody

[2019-12-10 10:10] Dead2 commented on #477
So, any of you want to make a PR with this fix?

[2019-12-11 20:24] nmoinvaz commented on #471
In the case of the example_dict_fuzzer, `dist < MAX_DIST(s)` is the offending condition. I believe this may be because in deflate_medium.c the `MAX_DIST` is actually defined as `MAX_DIST2`. One way to solve this might be to pass in the max distance into the function.

I'm not so sure about the compress_fuzzer issue, it doesn't appear to happen at the end-of-input like was suggested.

[2019-12-12 04:28] nmoinvaz commented on #471
In the compress_fuzzer issue, I think there is no guarantee that `*scan == *match` condition be true.  When starting the match it checks the first two bytes, but there is no guarantee that the next two bytes should match, so having the `Assert` doesn't make much sense unless it happens before `scan += 2, match += 2`. By the way, in this instance the match length ends up being only 2.

[2019-12-12 04:49] mtl1979 commented on #471
I already suggested we get rid of the checking of just first two bytes, as there is corner case when third byte is not the same... We should everywhere check 3 bytes directly as that is minimum match length. This avoids need of asserts completely and makes the code a lot more readable.

[2019-12-12 04:58] nmoinvaz commented on #471
@mtl1979 you mentioned you had removed the need for the assert completely in a previous instance. What is the commit?

[2019-12-12 05:02] mtl1979 commented on #471
@nmoinvaz I haven't pushed it to GitHub yet... Comparing three bytes instead of two is a little slower on most architectures, but if it fixes more than one issue, then the pros win the cons...

[2019-12-12 05:21] nmoinvaz commented on #471
@mtl1979 that sounds like a good change.

[2019-12-12 05:24] mtl1979 commented on #471
@nmoinvaz I have been quite busy with other projects since I bought a new PC so I haven't had much time doing pull requests lately... Also, I'm not sure how much surrounding code needs to or should be changed after changing the compare length...

[2019-12-23 19:41] dzenanz commented on #488
I vote for occasionally tagging some commits as more stable than average until the first release is made.

[2020-01-05 06:33] alexey-milovidov opened #494 "Wrong stream created if flush is not done before Z_FINISH."
Test case:

[code]

[code]

It's reproducing under the following conditions:
- level 1 is used;
- there is no separate call to `deflate` with any flush mode before call with Z_FINISH;
- upper bound of sequence of numbers is from 34536 to 34619;

[2020-01-05 12:17] mtl1979 commented on #494
Because you are telling it not to flush, it will overflow the internal data structures happily... last block of input data will show correctly as it did fit in the deflate window. I suspect same happens with higher compression levels, but require larger sequence of numbers.

[2020-01-05 20:40] alexey-milovidov commented on #494
It will stop reproducing after 34620.

With higher compression levels it doesn't reproduce for all numbers below 100 000 and also for numbers around 1 000 000, so I don't think it reproduces at all.

I have read the documentation of `deflate` in zlib.h and have not found that I have to flush periodically. And I don't see any separate flushes in examples available...

[2020-01-05 20:52] mtl1979 commented on #494
Test ```if (Z_OK != deflate(&zstr, Z_NO_FLUSH))``` is insufficient according to the zlib documentation... it doesn't check for output buffer overflow as in avail_out == 0.

[2020-01-05 21:47] alexey-milovidov commented on #494
This is just an example to reproduce the issue. In this example, the size of output buffer is big enough, so the condition `avail_out == 0` never happens.

You can see the real code here: https://github.com/ClickHouse/ClickHouse/blob/master/dbms/src/IO/ZlibDeflatingWriteBuffer.cpp#L57

[2020-01-06 00:49] mtl1979 commented on #494
Level 1 use deflate_quick which is not included in the original documentation... Only relevant internal structure is pending_buf which in normal cases should not overflow. I only see one line in deflate_quick that mentions Z_NO_FLUSH.

[2020-01-06 04:40] nmoinvaz commented on #471
@mtl1979 any thoughts on my commit https://github.com/nmoinvaz/zlib-ng/commit/28d6b1fe086d8afe1989bae85dbcffe0c63b72b0?

[2020-01-06 08:13] mtl1979 commented on #471
@nmoinvaz Not really... It looks cleaner than the previous code. I don't see any new relevant failures in CI tests.

[2020-01-06 16:23] nmoinvaz commented on #471
@mtl1979 Actually it looks like CI does fail on ARM machines, https://github.com/nmoinvaz/zlib-ng/runs/375035410. When I removed the assert I would get -3 return code from inflate after deflate. And the same happens with my changes too.  But now perhaps my changes have revealed something new?

[2020-01-06 16:26] mtl1979 commented on #471
@nmoinvaz I think those "failed to intercept" issues need to be resolved first... Some people have suggested it has something to do with Docker permissions...

[2020-01-07 00:48] nmoinvaz opened #496 "longest_match questions"
I have been looking at the longest_match function.

1. It doesn't appear that the `UNALIGNED_OK` is necessary. std2_longest_match and std3_longest_match don't do any unaligned access.
1. Why is longest_match broken into 3 separate functions? It seems like it could be a single function, with #ifdef inside for the separate comparison lengths (1 at a time, 2 at a time, or 4/8 at a time).

[2020-01-09 14:43] mtl1979 commented on #496
A lot of the code has been rewritten to avoid unaligned accesses even though x86 processors can handle them, because some compilers are not designed to emit correct instructions when some optimizations are enabled. I haven't tried to isolate each of the functions as separate files so I could compare the function contents line by line, but I suspect there is small differences in other parts of the

[2020-01-09 17:20] nmoinvaz commented on #496
I was not able to find anywhere where there was unaligned access so maybe `UNALIGNED_OK` is not necessary.

It does seem like the only difference is the compare chunk size. The difference used to be that one was for `UNALIGNED_OK` access while others were not. I think while trying to fix ASAN errors, everything might have been changed to be aligned.

https://github.com/zlib-ng/zlib-ng/commit/72214

[2020-01-09 17:23] nmoinvaz commented on #496
Perhaps if `UNALIGNED_OK` is defined in CMakeLists.txt, it should not add `-fsanitize=alignment`.

[2020-01-09 17:37] mtl1979 commented on #496
Maybe there should be pull request to cleanup/merge the longest_match variants... Would help maintaining the code as only one version needs to be checked for improvements/issues.

[2020-01-15 22:08] kushalkoolwal commented on #457
There is a [support forum](https://travis-ci.community/c/environments/multi-cpu-arch/96) for multi-architecture builds on Travis. Perhaps might be worthwhile posting the issue there if not already done so. Seems like many open source projects are being successfully ported over to Travis for AARCH64 CI over the last two months.

GitLab CI also has Arm 32-bit/64-bit runner support [available]( https

[2020-01-16 15:33] rhenwood-arm commented on #457
I think this ticket has run it's course and can be closed.

[2020-01-16 15:33] #457 closed, assigned to nobody

[2020-01-18 00:29] nmoinvaz commented on #477
@Dead2, I think this issue can be closed now.

[2020-01-18 00:31] nmoinvaz commented on #117
I think this issue can be closed.

[2020-01-25 15:21] neurolabusc commented on #326
Related to this issue, I have provided a [dataset](https://github.com/neurolabusc/zlib-bench) that shows a dramatic difference between CloudFlare and zlib-ng. The GZ format is popular in my field to compress brain images in the NIfTI format. These are often huge datasets, acquired as 16-bit integers with poor signal to noise. It is common to zero signal outside the brain, and conduct computations

[2020-01-31 22:54] nmoinvaz opened #511 "Replace bi_reverse"
I noticed this commit replacing bi_reverse with a 32-bit version only:
https://gitlab.freedesktop.org/lyudess/linux/commit/8b235f2f16a472b8cfc10e8ef1286fcd3331e033
Maybe worth a look.

[2020-01-31 23:09] mtl1979 commented on #511
Obviously we can't replace something with alternative that is Linux-specific.

[2020-01-31 23:22] nmoinvaz commented on #511
I agree, but perhaps a 32-bit version of bit swapping will be quicker than variable length version.

[2020-01-31 23:53] mtl1979 commented on #511
I'm just worried that using faster implementation would increase binary size and memory usage considerably... It would require either 16-bit or 32-bit lookup table to be portable...

[2020-02-01 00:07] nmoinvaz commented on #511
We can do something like [this](https://helloacm.com/how-to-reverse-bits-for-32-bit-unsigned-integer-in-cc/):
[code]

[2020-02-01 00:11] mtl1979 commented on #511
That's pretty much unreadable... Not to mention using large constants is always slow as they have to be stored in memory.

[2020-02-01 00:50] nmoinvaz commented on #511
There is a method `brev_knuth` here that uses less constants.
https://stackoverflow.com/a/32093050/610692

[2020-02-01 02:18] mtl1979 commented on #511
The problem is that some architectures actually have assembler instruction to do it automatically, but others need shifting in loop... 80x86 can do it shifting with carry.

[2020-02-03 13:55] gdevenyi opened #514 "Suggestion: add type prefixes to commits/PRs"
As mostly a lurker, I'm trying to follow development but its not immediately clear to me what specific PRs are doing to the codebase. The Insight Toolkit (ITK) team has a clever method of making their commit stream more readable, with commit prefixes:

from: https://github.com/InsightSoftwareConsortium/ITK/blob/master/CONTRIBUTING.md#commit-messages

I was wondering of zlib-ng might consider such

[2020-02-07 16:32] gdevenyi opened #515 "Benchmark/compare -O vs -O2 vs -O3 on a variety of platforms."
Following up on #507, Fedora defaults cmake to -O2, while upstream cmake defaults to -O3. Testing by @Dead2 noted that there are indeed performance differences between the settings and it is not currently clear which is optimal.

[2020-02-07 16:35] gdevenyi opened #516 "Uniformize cmake vs configure build configuration"
Following up on #507 and #515, @Dead2 noted that configure vs cmake on his system has a ~2% difference in performance.

We also discovered that cmake on Fedora is patched to be different than upstream cmake, which -O2 instead of -O3 for the "Release" configuration.

In order to avoid these inconsistencies, after #515 the cmake and configure settings should be uniformized to what zlib-ng devs consi

[2020-02-07 17:11] nmoinvaz commented on #427
This issue can be closed now.

[2020-02-07 17:23] #427 closed, assigned to nobody

[2020-02-07 20:28] Dead2 opened #518 "Github Actions not running configure tests"
Some syntax error in the actions config it seems.
https://github.com/zlib-ng/zlib-ng/actions/runs/36026785

[2020-02-07 22:18] nmoinvaz commented on #518
This can be closed now.

[2020-02-08 11:59] #518 closed, assigned to nobody

[2020-02-09 21:47] nmoinvaz commented on #487
I think this can be closed now.

[2020-02-09 21:58] nmoinvaz commented on #205
It seems like we could replace `match_len = compare258(s->window + s->strstart, s->window + s->strstart - dist)` with `match_len = longest_match(s, hash_head)` if SSE4.2 not supported. If that is the case, perhaps we could extend `compare258` to deflate_slow, deflate_medium, etc if SSE4.2 is supposed. So of like a `functable.longest_match`. What do you think?

[2020-02-10 03:45] xuchunmei000 commented on #64
@Dead2 any news for stable release ?

[2020-02-10 07:50] #487 closed, assigned to nobody

[2020-02-10 10:24] mtl1979 commented on #205
compare258 is essentially compare of 256 bytes followed by compare of trailing 2 bytes... Only difference is that for all iterations of the loop, it needs to find the first non-matching index in the vector and calculate length from it... If we assume that it is likely that all lanes are equal most of the time, it should not have performance penalty when the trailing bytes are not equal. Trailing b

[2020-02-10 16:48] nmoinvaz opened #527 "X86 CPU feature flags optimized out"
When compiling `checksum_fuzzer` against static zlib (aka zlibstatic), the `x86_cpu_*` flags are optimized out when compiling with `-O3`. This happens because `x86_check_features()` is only called in `inflate()` and `deflate()`. And in the `checksum_fuzzer` it is only using the `crc32` functions which have a potential to use architecture specific codes.

I think perhaps the CPU features check shou

[2020-02-13 13:24] kreuzerkrieg opened #533 "ZLIB_COMPAT library artifact naming"
I'm trying to create [vcpkg](https://github.com/microsoft/vcpkg) port for `zlib-ng` and it looks like `-DZLIB_COMPAT` does not affect the output library name.
Looks like it should
[code]

but these `LIBNAMExxx` are not used

[2020-02-14 00:12] nmoinvaz commented on #533
@kreuzerkrieg can you verify that #534 fixes your issue?

[2020-02-14 03:21] nmoinvaz commented on #494
I'm not able to reproduce this. I used this code which is similar but can be used in _example.c_:

[code]

And passed `compr` and `uncompr` 1mb buffers. The gz file it produced extracted successfully at least on my Windows machine. I'm not sure what the "sequence of numbers" is referring to in the original issue description. If there is not enough data to write in `avail_out` then `deflate` will r

[2020-02-14 09:08] kreuzerkrieg commented on #533
affirmative

[2020-02-15 20:58] #511 closed, assigned to nobody

[2020-02-19 15:14] neurolabusc opened #536 "pigz compiled with zlib-ng generates errors with level=1"
@reddydp discovered that pigz compiled with zlib-ng generates errors with compression level 1. This is specific to zlib-ng, as versions of pigz compiled to default, Intel or CloudFlare zlib does not show this error. Since the zlib-ng and lib-Intel use similar strategy for level-1 compression, I wonder if this is related to a fixed [intel zlib issue](https://github.com/jtkukunas/zlib/issues/8).

We

[2020-02-20 21:22] nmoinvaz commented on #536
It happens due to `deflateParams` call which changes the level mid-stream. It starts out as level 6 and then switches to level 1.

I believe the max window size for deflate level 1 is 8192 (the size of `quick_dist_codes`). This is set as `(1 << 13)` here: https://github.com/zlib-ng/zlib-ng/blob/bd7d2226dde22fbd71477c96654934b0464981cb/deflate.c#L308

When the call to `deflateParams` happens, the `

[2020-02-20 22:11] mtl1979 commented on #536
If deflate_quick can't handle safely larger window size than 8192, shouldn't we limit ```dist - 1``` to smallest of ```s->w_size - 1``` and ```8191``` in https://github.com/zlib-ng/zlib-ng/blob/bd7d2226dde22fbd71477c96654934b0464981cb/arch/x86/deflate_quick.c#L240
... This allows changing the level back and forth without changing the code too much.

[2020-02-20 22:46] nmoinvaz commented on #536
Yes that is possible, however there is a problem in `pigz` if we don't flush the block before switching to level 1.
[code]

[2020-02-20 23:07] nmoinvaz commented on #536
That problem goes away if change quick deflate like so, adding `s->strm->avail_in == 0` check:

![image](https://user-images.githubusercontent.com/1364432/74988411-a09c2480-53f2-11ea-98a4-3eec4b9c2d08.png)

The issue is a combination of madler's changes and deflate_quick which I don't think aleast Intel or Cloudflare have.

[2020-02-20 23:15] mtl1979 commented on #536
I'm not completely sure adding ```s->strm->avail_in == 0``` has no negative side-effects...

[2020-02-20 23:43] #477 closed, assigned to nobody

[2020-02-21 00:22] nmoinvaz commented on #536
I did a burn test against `switchlevels` using various inputs and without `s->strm->avail_in == 0` I get this:

[code]

Because `deflate_quick` is early exiting even though there is more available input. If I add that check those warnings go away. It could also be due to the fault of `switchlevels` doing this kind of check..

[2020-02-21 00:35] mtl1979 commented on #536
Obviously when the check is there, it will consume more input than without the check, but deflate* is never supposed to consume more input than necessary to finish one block of output. When Z_FINISH is used, it doesn't wait for enough data to create full block.

[2020-02-21 00:53] nmoinvaz commented on #536
In my test case, it is needing to flush pending buf before it emits an end block. Is that expected? That means that the block is larger than `s->pending_buf_size`. That would mean a single call to `deflate()` would not emit a single block because it returns `need_more`.

Perhaps it should be:
[code]

[2020-02-21 02:42] mtl1979 commented on #536
Because you can call deflate() with just 1 byte input, one call doesn't have to emit at least one full block, but it shouldn't emit more than one full block because that could cause overflow of internal structures.

[2020-02-21 02:52] nmoinvaz commented on #536
I see, then if that case I don't see a problem with `s->strm->avail_in == 0` allowing it to continue to process input after flush so long as it hasn't output a complete block which doesn't appear to be the case in that particular loop.

[2020-02-21 02:56] mtl1979 commented on #536
Maybe you should make a pull requests with all the modifications so it's easier for everyone to review...

[2020-02-21 03:08] nmoinvaz commented on #536
The reason I suggest calling `static_emit_end_block` during the `s->strm->avail_in == 0` loop, is because without it I ran across `deflateParams` returning `Z_BUF_ERROR` here:

https://github.com/zlib-ng/zlib-ng/blob/bd7d2226dde22fbd71477c96654934b0464981cb/deflate.c#L635

This happens when `deflateParams` is called without a prior call to `deflateReset`. The test app `pigz` that is referenced in

[2020-02-21 03:35] nmoinvaz commented on #536
Here are my test cases for now: https://github.com/nmoinvaz/zlib-ng/commit/fb0324bc79d4f87e549dfc8bee2e3f1f9f201258

[2020-02-21 15:47] kreuzerkrieg commented on #533
Any chance above PR will be merged soon?

[2020-02-21 19:08] nmoinvaz opened #539 "deflate_quick questions"
These are some questions I have about deflate_quick() that perhaps somebody (@jtkukunas ?) can answer - at least it is good to have it documented.

1. Why is deflate quick window only 8K? It seems like it would be beneficial for it to be 32K and lead to better compression rates.

2. Sometimes `dist` is greater than `s->w_size`. Is there anything that can be done to prevent it from trying to read a

[2020-02-22 00:29] nmoinvaz commented on #496
I have abstracted out the methods of comparing 258 bytes and have done a performance testing on them:

https://gist.github.com/nmoinvaz/b70fd103c5bed104dfbcf09d5d927cfe

[2020-02-22 19:44] Dead2 commented on #533
It will be soon I hope, but at least one week out.
I am trying to let codecov.io have a look at a stable state for the corruption bugs (on their end) when analyzing our repo/coverage data.
Ref: https://community.codecov.io/t/codecov-server-500-error-and-endless-processing/1012/5

[2020-02-22 20:00] kreuzerkrieg commented on #533
Thanks for the update

[2020-02-25 13:42] neurolabusc commented on #326
@sebpop my [pigz-bench](https://github.com/neurolabusc/pigz-bench) attempts to address your concern regarding decompression tests. Each zlib-variant contributes compressed files to the corpus, and each lib-variant decompresses ALL of these files. So each tool decompresses the same files. At the moment, on x86-64 CloudFlare does have superior **compression** performance, perhaps reflecting the aggr

[2020-02-25 15:02] sebpop commented on #326
Thanks @neurolabusc for addressing the input data issue in your decompression benchmark.  I will use your benchmark in my experiments.  Thanks!

[2020-03-02 16:55] nmoinvaz commented on #536
@neurolabusc does your showplot.py graph automatically based on output from test scripts or is that a manual process?

[2020-03-03 03:13] nmoinvaz commented on #539
With 32k window size quick deflate is ~9% slower and compresses ~7% better.
[code]
To generate the quick dist codes where `QUICK_MAX_WINDOW` is 8192:
[code]
Pros:
* Better compression when switching compression levels
   * Level 1 with 8K window size -> level 6 with 32k window size (window not resized)
* Supports all window sizes up to 32k (still supports 8k window size for speed)

Cons:
* Require

[2020-03-03 03:16] nmoinvaz commented on #539
In my tests, it seems using `longest_match` with `compare258_sse` is faster than only using `compare258_sse`. Perhaps because it gets through the content quicker because `s->strstart` is increased by `match_len`. When larger matches are found, it finishes overall compression quicker. However, more testing would need to be done to verify my results.

[2020-03-03 19:42] mtl1979 commented on #539
I think being slower is no option for deflate_quick. Too high memory usage is also bad as not all PCs have a lot of memory, especially when zlib-ng is linked statically and used by several applications at the same time.

As I see it, having better compression ratio doesn't justify all the cons, especially as one is supposed to use the other deflate versions for better compression rate.

[2020-03-03 21:23] nmoinvaz commented on #539
After moving `compare258` out of `deflate_quick` we might no longer need `deflate_quick`. The same speed could be achieved with `deflate_fast` with 8k window.

[2020-03-03 21:26] mtl1979 commented on #539
I think deflate_quick is still useful when processor has support for SSE4... deflate_fast might be better for processors without SSE4 including non-x86 processors.

[2020-03-03 21:30] nmoinvaz commented on #539
I am saying after `compare258` is moved out of `deflate_quick` then there is no SSE4 code in deflate_quick.

[2020-03-03 21:34] mtl1979 commented on #539
I am saying compare258 could be used in other deflate versions too, but there isn't any reason to replace it in deflate_quick...

[2020-03-03 21:45] nmoinvaz commented on #539
I'm not suggesting replacing it in `deflate_quick`. I'm saying getting rid of `deflate_quick` if `deflate_fast` is capable of the same level of performance using SSE 4.2.

[2020-03-03 22:17] mtl1979 commented on #539
I don't know... For some reason I started writing AVX2 version of compare258 ;)

[2020-03-03 22:20] nmoinvaz commented on #539
Even better!

[2020-03-04 03:18] nmoinvaz commented on #284
Worst case for `deflate_quick` is no matches found in entire data and max of 9 bits for each literal.

`max_output = ((input_size + 17) >> 3) + input_size + 18`

That is, 1 bit extra for each byte + 3 bits for block start + 10 bits for block end + 7 bits for round up, converted to bytes + the input size + 18 bytes for gzip header and footer.

Here is a text file that produces this worse case resul

[2020-03-04 05:22] nmoinvaz commented on #539
Using the following code it is possible to get rid of precomputed len/dist tables:
[code]

The `send_match_length` can also be used in `compress_block`. Then it will only need to `send_bits` once, versus 2-4 times it currently does in `compress_block`.

While it is not as fast, it is nearly as fast, except when outputting matches. Plus there is no need for a 32KB table (`quick_dist_codes`)  + 1KB

[2020-03-10 18:24] todd-richmond opened #553 "Illegal AVX instructions on older Xeon systems"
AVX instructions were added in pull #502 but cause illegal instructions on older Xeon systems. I had to disable with -DHAVE_AVX2_INTRIN=OFF even though they were enabled by default using cmake

model name	: Intel(R) Xeon(R) CPU E5-2407 0 @ 2.20GHz
cpuid level	: 13
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts acpi mmx fxsr sse sse2 ss ht tm pbe syscal

[2020-03-10 18:29] mtl1979 commented on #553
Can you test what is the exact instruction that is not implemented on that Xeon?

[2020-03-10 18:33] todd-richmond commented on #553
all I get is an illegal instruction exception when running ccache and gcc but it doesn't say what the instruction id is. Do you have a way to tell?

[2020-03-10 18:43] mtl1979 commented on #553
It shouldn't throw exception when running either ccache or gcc because in that stage it's not executing any zlib-ng code... When running cmake it should only throw exception in the configuration stage as that is where it tests if the current processor supports AVX2... When I test if some specific instruction causes an error, I will surround it with fprintf statements, so I see what is the last tex

[2020-03-10 19:02] gdevenyi commented on #553
Do you have an actual output showing exactly the error you claim?

[2020-03-10 19:07] todd-richmond commented on #553
it definitely does. We build a complete 100% local toolchain with 150 or so components including gcc and everything else - nothing from the OS libraries. When narrowing down the offending component, I determined that zlib-ng was the only component necessary to cause a failure. A git checkout from before AVS instructions works fine and disabling the new cmake define also works.

I just deleted my t

[2020-03-10 19:08] mtl1979 commented on #553
That's not even using zlib-ng code, the compiler itself is crashing...

[2020-03-10 19:11] mtl1979 commented on #553
Sandy Bridge definitely doesn't have AVX2 so it should never pass the complile-and-run test that cmake uses...

[2020-03-10 19:14] todd-richmond commented on #553
I can take the exact same tree and replace only zlib-ng from before AVX instructions and compilation succeeds. Same goes for disabling them in CMAKE.

Note that we build EVERYTHING we use - that is more than rare - probably unique. ccache would use zlib-ng in our case because we compile zlib-ng with compatibility extensions

[2020-03-10 19:16] todd-richmond commented on #553
I'm actually building tools on a different system than the one compiling our code - a slightly newer xeon, but still without avx2
`flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss syscall nx pdpe1gb rdtscp lm constant_tsc arch_perfmon xtopology tsc_reliable nonstop_tsc unfair_spinlock pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2api

[2020-03-10 19:16] mtl1979 commented on #553
We need output of the AVX2 detection in both cmake and inside zlib-ng... It either thinks you are cross-compiling and skip the run test, or the operating system reports the CPU supports AVX2 when CPU definitely doesn't support it...

[2020-03-10 19:57] mtl1979 commented on #553
Like was mentioned when adding AVX2 support, it is possible that if ECX contains non-zero value before cpuid is run, the cpuid intrinsic on gcc can return wrong value... That was addressed in later fix mentioned in the pull request. That's an oversight in gcc, as ECX is cleared when using Visual C++.

[2020-03-10 20:23] mtl1979 commented on #553
Quick test to check cpuid output:
[code]

[2020-03-12 03:58] todd-richmond commented on #553
EBX =    0

[2020-03-12 04:27] mtl1979 commented on #553
If EBX is 0, then the AVX2 detection fails inside cmake's configuration stage... That means cmake thinks it is cross-compiling and doesn't try to run the test as according to Intel's own website, one of the instructions in the test requires AVX2 support.

[2020-03-12 04:30] todd-richmond commented on #553
anything else you want me to try? We build several other projects (libarchive, hyperscan, image processing...) that use various SSE/AVX/... assembly instructions without problem or custom build configuration. I think some of those detect at runtime and some at compile time

[2020-03-12 04:34] mtl1979 commented on #553
Try to compile and run the AVX2 test from CMakeLists.txt:

[code]

[2020-03-12 04:38] todd-richmond commented on #553
Using gcc 9.2

`z.c:3:11: warning: AVX vector return without AVX enabled changes the ABI [-Wpsabi]
    3 |   __m256i x = _mm256_set1_epi16(2);
      |           ^
In file included from /tools/arch/Linux_2.6.32-x86_64/gcc-9.2.0-pps-8.16.0/gcc-9.2.0/lib64/gcc/x86_64-pc-linux-gnu/9.2.0/include/immintrin.h:53,
                 from z.c:1:
/tools/arch/Linux_2.6.32-x86_64/gcc-9.2.0-pps-8.16.0/gcc-9.2.0/

[2020-03-12 04:46] mtl1979 commented on #553
Try adding ```-mavx2``` to the compile command... It should force it to use vector ABI.

[2020-03-12 04:47] todd-richmond commented on #553
thx - now printing : Illegal instruction

[2020-03-12 04:48] mtl1979 commented on #553
That means the AVX2 test in CMakeLists.txt is working correctly... It only leaves possibility of cmake thinking it's cross-compiling.

[2020-03-12 04:56] todd-richmond commented on #553
I am setting -DCMAKE_C_COMPILER=$bindir/gcc and CXX, but don't set CMAKE_CXX_COMPILER_TARGET which would indicate a x-compile

Tomorrow I'll try exporting environment vars instead (CC/CXX) - its getting late and that is a non-trivial tweak to our toolchain build system...

[2020-03-13 14:31] Dead2 commented on #553
@mtl1979
This looks like CMakeLists.txt's `add_intrinsics_option` flag's fault, it adds -mavx2 to the global cflags for all compiled files. GCC sees this flag and also enables msse3, mssse3 msse4.1, msse4.2, mpopcnt and mxsave (on x86-64 sse2 and older are implicit).

All those flags enabled means gcc can use all those instruction sets to optimize any code anywhere. These flags needs to be set per

[2020-03-13 14:49] Dead2 commented on #527
That might be a good idea.

[2020-03-13 15:15] mtl1979 commented on #553
@Dead2 The AVX2 test still should fail as cmake runs the test, configure only tries to compile. Nevertheless, this is one good reason to rewrite the CMakeLists.txt completely to make sure we only enable instruction set support in files that actually require them.

[2020-03-14 03:32] nmoinvaz commented on #284
@sebpop, @bmrzycki can you please retest your use cases against `develop` branch?

[2020-03-14 05:04] nmoinvaz commented on #553
@todd-richmond can you try my PR and see if it fixes your problem with CMake?

[2020-03-15 17:28] gdevenyi commented on #284
@neurolabusc is still indicating this triggers a segfault in pigz at least: https://github.com/afni/afni/issues/138#issuecomment-598833038

[2020-03-15 21:28] nmoinvaz commented on #284
Sorry, I thought it had been merged in to develop. It is actually PR #541.

[2020-03-15 21:29] nmoinvaz commented on #284
I think that might be a separate issue fixed in #541. This change made in `develop` was to fix `compressBound` calculation.

[2020-03-24 16:11] bmrzycki commented on #284
Hello @nmoinvaz. I am unable to perform this testing now. I'm at a new company and do not have formal clearance from management to contribute to this project yet. In the meantime you should be able to test it yourself on any x86_64 Linux host. The code diff to fix the errors is from https://github.com/zlib-ng/zlib-ng/issues/284#issuecomment-457730104 on top of the Chromium zlib benchmark C++ code:

[2020-03-24 16:55] nmoinvaz commented on #284
Thanks @sebpop. I have tested it on x86 myself but I was looking for independent verification since this issue has been open a long time. Congrats on your new position! Hopefully they will let you contribute.

[2020-03-24 17:12] neurolabusc commented on #536
Not sure if this is related to [issue 284](https://github.com/zlib-ng/zlib-ng/issues/284) (which was also with level 1, but not a parallel compressor). I note a couple of the Pull Requests remain open .

Here is a minimal adaptation of my [Python scripts](https://github.com/neurolabusc/pigz-bench-python) to illustrate the issue. This script will compile pigz using zlib-ng and validate the compress

[2020-04-05 07:31] brothermechanic opened #564 "kde-frameworks/karchive invalid conversion from const unsigned char to Bytef"
Hello
Thank you for develiping!
I switch all system to zlib-ng, all fine exept karchive
Can you help me to patch karchive package?
https://gist.github.com/c3b70630ded5e3c9aa59c93a640e02ea

[2020-04-05 10:46] mtl1979 commented on #564
As I see it, in zlib.h we need to change next_in to be "unsigned char *"... We won't revert the change in zlib-ng.h as it was security fix to change it to "const unsigned char *".

[2020-04-05 16:39] brothermechanic commented on #564
worked!
thank you!

[2020-04-05 16:39] #564 closed, assigned to nobody

[2020-04-16 17:58] nmoinvaz commented on #533
Fix was merged into `develop`.

[2020-04-16 17:58] #533 closed, assigned to nobody

[2020-04-17 01:33] nmoinvaz commented on #284
This should be resolved now that #541 has been merged.

[2020-04-17 09:01] firasuke opened #565 "Is bash a requirement?"
I'm using POSIX DASH, and the `configure` script is running fine.

Is there something I should be aware of that requires bash? If bash isn't a requirement, why not replace the shebang's shell with `sh`?

[2020-04-17 16:21] mtl1979 commented on #565
Not all shells are fully compatible with bash syntax. We can't test all the possible shells that have been released, but there has been some common shells in the past that did fail to run the configure script.

[2020-04-17 17:12] gdevenyi commented on #565
we should be able to restrict to POSIX shell.

`shellcheck -s sh` gives the following warnings (I suppressed some quoting and false positives)

[code]

[2020-04-17 17:24] mtl1979 commented on #565
There is still quite many false positives as the configure uses late expansion of some variables...

Parameter -n for "echo" can't be removed, as it would print the texts on different lines which is not expected.

[2020-04-17 18:02] firasuke commented on #565
I checked the `configure` script with `checkbashisms` and it didn't warn about anything. Plus I compared post configure and post build results when using both shells (`bash` and `dash`) and they were identical.

[2020-04-17 20:04] mtl1979 commented on #565
We can always make things more compatible, but we can't add workarounds or fixes for features missing from every possible bash-alternative. A lot of stuff hasn't been changed since the original zlib configure script and we have tried to make sure changed code keeps the same style as the old code.

[2020-04-17 23:18] firasuke commented on #565
No worries, I understand that.

Closing this issue.

[2020-04-17 23:18] #565 closed, assigned to nobody

[2020-04-20 07:17] todd-richmond commented on #553
@nmoinvaz sorry for the long wait. I was finally able to pull this new CMakeLists.txt and my test build completed successfully this time. I noticed the PR needs a rebase, but should be good to go after - thx

[2020-04-25 10:12] pps83 opened #568 "fill_window_stub should be removed once sse2 check is removed"
https://github.com/zlib-ng/zlib-ng/blob/42aa81beafa2ea14cd780a9acf3359a0a09ca44b/functable.c#L89

same goes for all other so called stub functions that are resolved fully at compile time once sse2 is assumed to be available.

[2020-04-25 10:22] pps83 opened #569 "Lots of arrays are simply declared as-is with no extern keyword"
I'm kind of shocked that C is ok with that. Actual array is declared in trees.h
zlib-ng, unlike plain old zlib, is full of such issues, and even if it's OK in C (is it really OK, how does linker even know which one of the arrays is correct?!) I think this and all other places should be fixed.

One easy way to see all these bugs is to try to compiler it with c++ compiler. All the issues and bugs wi

[2020-04-25 17:44] nmoinvaz commented on #568
What SSE2 check? Right now all of the CPU flags are applied globally to all files but we are planning on moving toward something where flags are only applied to the files that need them and CPU support is determined at runtime. See #555.

[2020-04-25 17:47] nmoinvaz commented on #569
Those arrays in `deflate_quick.c` will be removed if #549 is merged. Do you have the output from the C++ compiler?

[2020-04-25 21:59] pps83 commented on #569
In c++ that wouldn't compile if compiling amalgamated version (all .c files concatenated), or it wouldn't link if simply compiling as c++, as this clearly declares uninitialized array and linker would eventually have duplicates. Note, as part of https://github.com/zlib-ng/zlib-ng/pull/570 I have this one addressed as well: https://github.com/zlib-ng/zlib-ng/pull/570/commits/fc594f918bf61c14446131c

[2020-04-25 22:17] pps83 commented on #568
`fill_window_stub` has this:

[code]

`x86_cpu_has_sse2` flag should be removed. sse2 is more than 20 years old. MS compilers afaik will generate sse2 code even if you don't enable sse2. If that `x86_cpu_has_sse2` flag is removed, then this fill_window_stub becomes pointless, and should be resolved at compile time without dynamic dispatch (same applies for other functions). In this PR (for my own

[2020-04-25 23:07] mtl1979 commented on #569
There is no valid reason to compile zlib-ng as amalgamated single file... A lot of structures and functions are meant to be private to their compilation unit. As Visual C++ is C++ compiler and not C compiler, we are already catching about half of the issues that would arise from compiling with C++ compiler instead of C compiler.

[2020-04-25 23:11] mtl1979 commented on #568
fill_window_stub and the other stubs are not used just for x86 and x86_64 (AMD64). They are also used for other architectures... We still support modern PPC architectures where it is possible to have two different versions of vector instruction sets... Once the PPC patch is merged in, we can't remove the stubs...

[2020-04-25 23:15] pps83 commented on #568
It clearly makes no sense to have stubs for intels because they are needed on some other archs

[2020-04-25 23:21] mtl1979 commented on #568
A lot of things don't make sense, but having exceptions for just one architecture would make the code almost unreadable.

[2020-04-25 23:34] pps83 commented on #569
I want amalgamated zlib (and I'm sure many others would prefer to have amalgamated version). For me that's valid enough. Clearly, many people love libraries that can be turned into a single file: https://github.com/nothings/stb
Zlib is just a function that compresses one bin array to another one.

I don't see how that can be relevant in any way to amalgamated build. These structs are different (ol

[2020-04-25 23:56] pps83 commented on #568
There is absolutely no reason for code to be unreadable.
[code]

Another option (where ppc version may also call c version)

[code]

[2020-04-26 00:44] mtl1979 commented on #568
We used to have simple functions without stubs, but it was a lot slower that way. There was also cases where we couldn't choose the correct version because the function was called from external code directly and would have required modifications there to initialize the instruction set flag variables.

[2020-04-26 00:51] nmoinvaz commented on #568
There is currently a PR to clean up the fill_window implementations. One is not needed per architecture.

[2020-04-26 00:54] nmoinvaz commented on #569
What value is there in amalgamation? It seems more like a programmer fetish. Why cant the compiler make optimizations with source code in separate files?

With cmake it is possible to just include a sub directory and not worry about how the sub project’s source code is structured.

[2020-04-26 01:16] pps83 commented on #569
with an amalgamated version one can simply add zlib.c to their build and just use it (that's how I use it myself).

because compiler doesn't know anything about other functions that aren't available at compile time of .c file? With amalgamated build compiler sees them all and can optimize better. [LTO](https://en.wikipedia.org/wiki/Interprocedural_optimization) partially exist for this reason

[2020-04-26 02:42] nmoinvaz commented on #569
Whether or not the compiler does the optimization while compiling the source or linking the source it still gets optimized. It is not a powerful argument for amalgamation.

[2020-04-26 03:07] pps83 commented on #569
LTO (or LTCG, link time code generation with VS) isn't plain linking. It's a fairly recent thing, most of projects do not use it for various reasons. In short, with LTO functions might be inlined even if they are in different translation units (different cpp files). With regular compilation/linking this obviously cannot happen. Either LTO is needed, or amalgamation.

I'm not saying that zlib-ng sh

[2020-04-30 17:03] nmoinvaz commented on #451
Code has been merged. This can be closed now.

[2020-04-30 17:03] #451 closed, assigned to nobody

[2020-04-30 23:19] nmoinvaz commented on #536
The changes have been merged.

[2020-04-30 23:19] nmoinvaz commented on #527
Code has been merged.

[2020-04-30 23:19] #527 closed, assigned to nobody

[2020-05-03 00:38] #284 closed, assigned to nobody

[2020-05-03 00:39] nmoinvaz commented on #173
@cieplutki are you able to reproduce this with latest develop?

[2020-05-03 11:40] neurolabusc commented on #536
@nmoinvaz the error persists in the `develop` (default) branch of zlib-ng. You can see this by running [pigz-bench-python](https://github.com/neurolabusc/pigz-bench-python). You use the script a_compile.py to compile pigs using zlib-ng. Next, set up the scripts to test level 1 (which was disabled due to this bug.

For c_decompress.py edit  line 172
```for lvl in range(2, 10):```
to read
```for lvl

[2020-05-03 17:24] nmoinvaz commented on #536
I think this may still need #549 but I haven’t tested against it myself.

[2020-05-06 11:53] neurolabusc commented on #569
@pps83 for you use case you may want to look at [miniz](https://github.com/richgel999/miniz)

[2020-05-06 17:53] #539 closed, assigned to nobody

[2020-05-06 18:08] nmoinvaz commented on #568
The PR #530 to remove `fill_window` has been merged. Is this still needed?

[2020-05-14 00:41] nmoinvaz commented on #536
@neurolabusc can you check again against latest develop branch? Thanks.

[2020-05-14 00:53] nmoinvaz commented on #536
It looks like it may still be occurring.

[2020-05-17 03:08] #117 closed, assigned to nobody

[2020-05-17 04:03] nmoinvaz commented on #103
We can do this in CMakeLists.txt with:
[code]

It will compile pngtest with zlib-ng in compatibility mode. Then it will run the tests that are part of libpng's CMakeLists.txt. Currently some of the tests fail:
[code]

[2020-05-23 14:53] nmoinvaz commented on #514
I went through the open PRs and added labels. That should help give more visibility in where each PR is focused. I personally don't really want to any type of commit message style enforced.

[2020-05-24 17:13] gdevenyi opened #592 "gcc-10 static analysis at 1e280ca517976f464116a460729cd0a34b5dd682"
[code]

output:
[code]

[2020-05-24 17:14] gdevenyi opened #593 "clang-11 static analysis at 1e280ca517976f464116a460729cd0a34b5dd682"
[code]

output:
[code]

[2020-05-24 17:18] gdevenyi opened #594 "gcc-10 "all warnings" at 1e280ca517976f464116a460729cd0a34b5dd682"
Generated all possible warnings from gcc via: https://stackoverflow.com/questions/11714827/how-to-turn-on-literally-all-of-gccs-warnings and pruned a few back that are clearly useless:
[code]

Attached due to inline size
[gcc-warnings.log](https://github.com/zlib-ng/zlib-ng/files/4674044/gcc-warnings.log)

[2020-05-24 17:20] gdevenyi opened #595 "clang-11 -Weverything at 1e280ca517976f464116a460729cd0a34b5dd682"
[code]

[clang-warnings.log](https://github.com/zlib-ng/zlib-ng/files/4674049/clang-warnings.log)

[2020-05-24 19:50] nmoinvaz commented on #592
Some of these are fixed in #582

[2020-05-25 03:23] gdevenyi commented on #592
Here's -fanalyzer after #582
[code]

[2020-05-25 14:58] #496 closed, assigned to nobody

[2020-05-25 14:58] nmoinvaz commented on #536
@neurolabusc this should be resolved now.

[2020-05-25 14:59] nmoinvaz commented on #471
All the necessary pull requests have been merged in.

[2020-05-25 14:59] #471 closed, assigned to nobody

[2020-05-26 12:06] neurolabusc commented on #536
@nmoinvaz not yet fixed on the [default (develop) branch of zlib-ng](https://github.com/zlib-ng/zlib-ng). I tested on an Intel i5 using MacOS and an AMD Ryzen 3900x using Ubuntu 20.04. To replicate my test:
 1. Download [pigz-bench-python](https://github.com/neurolabusc/pigz-bench-python)
 2. Run `a_compile.py` to compile various versions of pigz.
 3. Use a text editor to change a line in [c_decom

[2020-05-27 03:32] nmoinvaz commented on #594
This includes warnings from system header files..

[2020-05-27 03:35] nmoinvaz commented on #595
Cleaning up every single warning will take ages.

[2020-05-27 19:35] gdevenyi commented on #595
Sure, I realize this is a huge amount of warnings, possibly many of these spurious. But I hope at least some of these might provide beneifical hints.

Would there be interest in getting this into the CI?

[2020-05-27 19:36] gdevenyi commented on #594
Thanks for letting me know. I will look into how to make the build not warn on the included libraries.

[2020-05-27 19:37] nmoinvaz commented on #595
In CI we do `WITH_MAINTAINER_WARNINGS` option.

[2020-05-27 22:36] nmoinvaz commented on #445
For zlib-ng native API if we export 64-bit functions without "64" ending, how do we also export 32-bit and 64-bit functions for zlib compatible API?

Zlib-ng native API would export `zng_gzseek` which would be 64-bit version.
Zlib compatible API would export `zng_gzseek` which would be 32-bit version.

So there is a naming conflict.

Only way would be in zlib-ng native API `#define zng_gzseek zng_

[2020-05-27 23:00] mtl1979 commented on #445
Obviously zlib compatible API would export the 32-bit version as "gzseek" without the prefix.

[2020-05-28 07:56] Dead2 commented on #445
mtl1979 is right.
But in the above example, if we needed to we could have had a shim named gzseek32 and sent the no-postfix define there.

[2020-05-28 08:00] mtl1979 commented on #445
Only when we dual link both stock zlib and zlib-ng in compatibility mode, we need compatibility mode functions to have prefix, but the default is that compatibility mode does not use prefix.

[2020-05-28 08:05] Dead2 commented on #445
Yeah, compat mode should not use a prefix. Dual linking in compat mode is not something we plan to support, only for the zlib-ng native api.

[2020-05-28 08:23] mtl1979 commented on #445
Dual linking stock zlib and zlib-ng might be more likely to happen unintentionally when linking against another library that contains zlib as dependency.

[2020-05-28 08:25] Dead2 commented on #445
Yes, that is why people should use zlib-ng for that instead.
zlib-ng in compat mode is more useful for systemwide replacement, where it will not conflict with another zlib library.

[2020-05-28 21:33] Dead2 opened #605 "deflate_quick invalid stored block lengths error"
@nmoinvaz I found a problem with one of the recent changes to deflate_quick

minigzip attempts a decompress and reports`./minigzip: /tmp/zlib-testfil.gz: invalid stored block lengths`
Same file with gzip: `gzip: /tmp/zlib-testfil.gz: invalid compressed data--format violated`

I bisected this to 343596fc98a0d7a6283dbe5d25abefca18439184.

The way I catched this was to set BUFLEN to 1MIB, like this:

[2020-05-28 21:37] nmoinvaz commented on #605
Nice find! I will take a look at it and see if changing it back fixes @neurolabusc’s issue.

We could also add a CI instance for large BUFLEN..

[2020-05-28 21:39] Dead2 commented on #605
I was thinking the same thing :)

[2020-05-28 23:10] nmoinvaz commented on #605
It appears to be different as I am still getting the original error @neurolabusc reported:
[code]

[2020-05-29 01:46] nmoinvaz commented on #605
I'm also not sure why it would be emitting out a `STORED` block in _deflate_quick_ also `Z_SYNC_FLUSH` isn't used in _minigzip_ either..

Are you able to reproduce this on any publicly available files? I wasn't able to reproduce it on my `earth32.bmp` which is 32MB.

[2020-05-29 04:15] mtl1979 commented on #605
It would be useful to know what are the two lengths that don't match... it should write the block length first, then bit negated version as "checksum". As far as I know, block length for stored block when using deflate_quick should always be 0, so the negated version is 0xFFFF.

[2020-05-29 11:20] Dead2 commented on #605
@nmoinvaz
I managed to trim down the 40MiB file to 160KiB while still preserving the error. At that point removing 32KiB from the beginning or end would also remove the error.
https://mirror.circlestorm.org/buggy-testfile.gz

[2020-05-29 11:36] Dead2 commented on #605
The above is the test data compressed by gzip.
I uploaded the faulty one that was compressed by deflate_quick as well here:
https://mirror.circlestorm.org/buggy-testfile-deflate_quick.gz

[2020-05-29 13:58] nmoinvaz commented on #605
@Dead2, I am still not able to reproduce the issue. Have you modified `buf` in `gz_compress` and `gz_uncompress` so that it can allocate 1MB memory? Because `buf` is on stack so there might be a 16k limitation there - Visual Studio warned me about it initially. The only other thing I can think of is it being an issue between configure/cmake. I haven't tried configure yet..

[2020-05-29 14:31] Dead2 commented on #605
@nmoinvaz Are you also unable to get the error during inflate of the second gzip file? Because I get that with normal gzip as well..

[2020-05-29 14:50] nmoinvaz commented on #605
I tried using 32-bit and 64-bit builds on MSVC both using `#define BUFLEN 1048576 ` with no luck. I can reproduce the decompression failure:
[code]

[2020-05-29 14:57] mtl1979 commented on #605
Stack related issues can't be debugged with Visual C++... It uses different method for stack overflow protection than gcc...

Code with stack overflow will cause memory corruption and eventual assertion failure with gcc when the corrupted memory contains guard bytes, but gets silently ignored with VC++.

[2020-05-29 14:58] Dead2 commented on #605
I am using GCC 9.3.1 on linux.

We also have recent errors coming from oss-fuzz, but I have been unable to log in to get the details so far. It is probably linked to the zlib-ng organization user and not my user.
Errors started coming in 25 May, then 3 on 26 May and one 28 May.

This might be related to those.

[2020-05-29 15:00] nmoinvaz commented on #605
I just got it to reproduce, it was some bad code w/r to BUFLEN. I think I am going to submit some changes  `minigzip` that would allow large BUFLEN, and then some changes to `switchlevels` that would allow custom window bits.

[2020-05-29 15:17] nmoinvaz commented on #605
It seems that `flush_pending` doesn't flush any bytes because `s->strm->avail_out == 0`. We can fix it by using `if ((s->strm->avail_in == 0 || s->strm->avail_out == 0) && (flush != Z_FINISH))`. This will still allow us to continue processing in the case that there is more data to process and there is space to process it to.

[2020-05-29 15:18] Dead2 commented on #605
That sounds logical at least.

[2020-05-29 17:14] gdevenyi opened #611 "MAINTAINER_WARNINGS on intel"
[code]

[code]

[2020-05-29 17:15] gdevenyi opened #612 "Benchmarking on intel compilers?"
I have access to a number of intel compilers on my HPC as well as the ability to grab a dedicated machine to avoid CPU contention.

Would anyone be interested in some benchmarking?

If so, please point me at some scripts and I'll be happy to run and post the results.

[2020-05-30 13:54] neurolabusc commented on #612
@gdevenyi - I created this simple Python [benchmark for you](https://github.com/neurolabusc/zlib-bench-python). So far, it tests gcc and clang (I do not have the Intel compiler installed). You should be able to edit the script for your needs. It test the popular [silesia](http://sun.aei.polsl.pl/~sdeor/index.php?page=silesia) corpus.

[2020-05-31 00:39] gdevenyi commented on #612
Thanks @neurolabusc,

here's the output:
![image](https://user-images.githubusercontent.com/3001850/83341788-b18fe800-a2b5-11ea-847f-721ad0374b91.png)

[2020-05-31 12:38] neurolabusc commented on #612
Nice. I have updated the script to optionally also test CloudFlare. It is curious that for zlib-ng gcc seems to perform worse than Clang, ICC and [MSVC](https://github.com/zlib-ng/zlib-ng/pull/588). However, for CloudFlare gcc outperforms Clang. I wonder if your comment regarding [-O2 vs -O3](https://github.com/zlib-ng/zlib-ng/issues/515) might explain this. Perhaps at -O3 gcc can catch up to the

[2020-05-31 22:50] gdevenyi commented on #612
Thanks for the update @neurolabusc. Here's an updated plot.
![image](https://user-images.githubusercontent.com/3001850/83364486-94b7eb00-a36f-11ea-88dc-27b930a6bfb6.png)

[2020-06-01 02:17] nmoinvaz commented on #536
@neurolabusc can you confirm whether or not level 1 _deflate_quick_ works when `-p 1` command line argument is used? It sets it to single threaded. For me there is no issue when one thread is used. It has been a battle to get an environment setup to debug pigz on Windows but that is where I am at now.

[2020-06-01 11:40] neurolabusc commented on #536
@nmoinvaz at least some errors are still present in the default (develop) branch of zlib-ng, even if pigz is only run in single-threaded mode. Here is how I tested this on my Linux system:

1. download benchmark
 `git clone https://github.com/neurolabusc/pigz-bench-python`
2. open f_speed_size_decompress.py with a text editor
  - Insert ' -p 1 ' into [line 376](https://github.com/neurolabusc/pigz-

[2020-06-02 04:04] nmoinvaz commented on #536
Sometimes setting `ZLIB_VERNUM` to 0x1240 seems to make the problem disappear..

[2020-06-02 04:05] nmoinvaz commented on #536
I also noticed the `single_compress` function outputs `Z_NO_FLUSH` at the end of the `ZLIB_VERNUM >= 0x1260` block and `parallel_compress` outputs `Z_BLOCK`. Perhaps a bug?

[2020-06-02 04:40] nmoinvaz commented on #536
It appears with `Z_BLOCK` it shouldn't write a block unless there is `s->strm->avail_in`. This the reason for the `s->sym_next` check at the bottom of `deflate_fast`. @neurolabusc, can you test against my _tests/def-v1_ branch and see if the error happens?

[2020-06-02 13:39] neurolabusc commented on #536
@nmoinvaz this passes my tests both for Neuroimaging data as well as the Silesia corpus (shown below, pigznm is your tests/def-v1 build).

[code]
![silesia_speed_size](https://user-images.githubusercontent.com/8930807/83526501-82939500-a4b4-11ea-841c-ecd6ca0caf3e.png)

[2020-06-02 15:16] neurolabusc commented on #536
@nmoinvaz while your branch worked on my MacOS 4-core 8-thread MacBook, I was not so lucky with my Ubuntu 20.04 Ryzen 3900X. It handles my neuroimaging corpus without issue, but reliably generates a segmentation fault when asked to compress the xray file from the silesia corpus using level 1. This can be seen in the command line outside of the script:
[code]

For my MacOS system, all values of `-p

[2020-06-03 02:23] nmoinvaz commented on #536
@neurolabusc, can you please try again with tests/def-v1. I have made some additional changes. I don't really have the ability to track down some of these segfaults that are hardware specific.

[2020-06-03 03:00] nmoinvaz commented on #536
I don't experience a crash with silesia x-ray with latest tests/def-v1 even with `-p 1`.

[2020-06-03 11:09] neurolabusc commented on #536
Your recent commit works on all my computers with both the Silesia corpus and my neuroimaging data. If this can be merged as a pull request, I think this will close the issue. Thanks!

Below are the results for the 3900X
[code]
Silesia Compression:
![silesia_speed_size](https://user-images.githubusercontent.com/8930807/83629297-d612eb00-a567-11ea-8c84-d4f8b2408c3e.png)
Neuroimaging Compression:
![

[2020-06-03 16:00] nmoinvaz commented on #594
I am not sure of the usefulness of this or #595. By the time anybody goes and investigates all the warnings they will be out of date and need to generate it for themselves.

[2020-06-03 16:20] mtl1979 commented on #594
By the time people have investigated all the warnings gcc 10 generates, there is already gcc 11 with even more warnings... I'm still using gcc 5 and gcc 6, because anything newer just doesn't work with all the software I need to build.

[2020-06-03 17:06] gdevenyi commented on #594
@nmoinvaz fine, I can spend my time elsewhere

[2020-06-03 17:06] #594 closed, assigned to nobody

[2020-06-03 17:06] #595 closed, assigned to nobody

[2020-06-03 17:29] nmoinvaz commented on #594
Sorry, I don't mean to upset you. If you have PR to fix the warnings I think there is a lot of value in it. The GH issues with static analysis warnings are very good.

[2020-06-03 17:41] gdevenyi commented on #594
Not upset :) Just want to make sure I spend my limited time on things the devs think are useful :)

Sadly I'm not yet proficent enough in "deep C" to contribute meaningfully here, so I instead dabble in the infrastructure/building/testing and advocacy.

[2020-06-04 11:24] neurolabusc opened #621 "Unable to compile minigzip with USE_MMAP defined"
On my Ubuntu 20.04 Ryzen system with gcc version 9.3.0, I am unable to compile with the USE_MMAP option for the minigzip project. I think this is because the [caddr_t is a legacy BSD type associated ... and it should never be used in modern code](https://stackoverflow.com/questions/6381526/what-is-the-significance-of-caddr-t-and-when-is-it-used)

[code]

results in errors
[code]

I can compile the

[2020-06-04 12:23] mtl1979 commented on #621
Linux is fork of BSD (as is MacOS), so this is compiler issue, not issue with zlib-ng itself...

We can't add workarounds for every possible broken compiler just because someone has claimed something should not be used. This is because we would need to know exact compiler and C library version where the deprecation happened, otherwise we end up fixing the same third-party bug over and over.

I che

[2020-06-04 22:02] NiLuJe opened #624 "longest_match_unaligned_64 trips the alignment trap on armv7"
Tested on a Cortex A8 & a Cortex A9 (Linux, GCC 7.5, @ 1a3d80677fa3bfce74f521c278040a2a8bfb04ad).

My feeble understanding of the ARM specs would indicate that it makes sense (those are 32-bit processor, this is more that word-sized) ;).

Even if the kernel is setup in fixup mode, the performance penalty is not worth it. Which means, ideally, this shouldn't be compiled in on 32-bit arm, even with

[2020-06-04 22:26] nmoinvaz commented on #624
I think `UNALIGNED64_OK` would be a good path forward. Do you want to make a PR?

[2020-06-04 22:43] NiLuJe commented on #624
Sure, I can do that.

[2020-06-04 23:04] NiLuJe commented on #624
Quick question: this should be enabled on x86 (32-bit), right?

[2020-06-04 23:21] mtl1979 commented on #624
Unaligned access is safe on 32-bit x86 processors using general purpose registers.

[2020-06-04 23:37] nmoinvaz commented on #624
Probably only for 64-bit apps.

[2020-06-08 16:38] nmoinvaz commented on #205
This is now complete.

[2020-06-08 16:38] #205 closed, assigned to nobody

[2020-06-08 16:39] nmoinvaz commented on #103
This is now part of CI when pull requests occur.

[2020-06-08 16:39] #103 closed, assigned to nobody

[2020-06-08 18:01] nmoinvaz commented on #621
This change has been merged. @neurolabusc can you confirm it works?

[2020-06-08 19:45] nmoinvaz commented on #91
I think this work has been complete now with #588.

[2020-06-08 19:45] #91 closed, assigned to nobody

[2020-06-08 19:55] nmoinvaz commented on #445
I believe this work has been done in #602. If there is work left I can reopen.

[2020-06-08 19:55] #445 closed, assigned to nobody

[2020-06-09 04:11] nmoinvaz commented on #593
This static analysis warning appears to be wrong:
[code]
Is there another way to write this to disable the warning?

[2020-06-09 06:29] #624 closed, assigned to nobody

[2020-06-09 13:09] gdevenyi commented on #593
I saw that too, here's some notes on getting clang to ignore things, https://clang-analyzer.llvm.org/faq.html

[2020-06-09 14:55] neurolabusc commented on #621
Fixed. Thanks!

[2020-06-09 14:55] #621 closed, assigned to nobody

[2020-06-09 15:52] neurolabusc opened #631 "Poor performance of levels 7,8,9 vs 6"
Compiling the latest commits of zlib-ng reveals [poorer performance (slower as expected, unexpectedly larger)](https://github.com/neurolabusc/zlib-bench-python) for levels 7,8,9 versus level 6. This is found for [three popular](https://blog.cloudflare.com/cloudflare-fights-cancer/) datasets used to evaluate compression. I realize that different compression strategies will do better with specific d

[2020-06-09 16:35] malytomas opened #633 "invalid instruction exception on mac"
My application crashes with EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP) on this line:
https://github.com/zlib-ng/zlib-ng/blob/53f9257a24362386e75504836eaeb2788360b1e8/memcopy.h#L133

callstack:
[code]

Running on iMac (mid 2011)
macos High Sierra (version 10.13.6)

cmake output:
[code]

The 53f9257a24362386e75504836eaeb2788360b1e8 is the first bad commit.

The 0b39a43490aea6024cc57bb577be58c675142d6

[2020-06-09 16:44] mtl1979 commented on #633
All x86_64 processors should support SSE2. What processor does that iMac have?

[2020-06-09 16:48] Dead2 commented on #631
I am having problems reading the graphs, as I don't see where the different levels are.

But part of what you are seeing is probably that we introduced deflate_medium to replace deflate_slow in levels 4-6.
So while stock zlib uses deflate_slow in levels 4-9, we only use it for levels 7-9.

And ss far as I remember, we have not done any significant optimizations specifically for deflate_slow (and i

[2020-06-09 17:03] Dead2 commented on #633
You could try compiling with configure instead of cmake, we might have some problems with code compiled with the wrong instruction sets enabled, or it could depend on PR #560.

Your cpu does not support AVX2, so I think that is the likely culprit.
Could you help us debug this? Please try compiling with WITH_AVX2=OFF and see whether that helps.

[2020-06-09 17:33] neurolabusc commented on #631
Note that the gzip that comes with Ubuntu and [minigzipMadler](https://github.com/madler/zlib) both show the expected trade off: better compression (though slower speeds) at higher compression levels. In contrast, zlib-ng is both faster AND smaller at compression level 6 versus the other levels. Here I only show compression levels 6..9 to emphasize the effect. So deflate_medium seems to be creatin

[2020-06-09 19:05] mscastanho opened #635 "minigzip test failing"
As part of `make test`, `minigzip` is tested with a simple `hello world` string.
 https://github.com/zlib-ng/zlib-ng/blob/0b39a43490aea6024cc57bb577be58c675142d6d/test/Makefile.in#L50

But this test seems to be broken right now (commit 0b39a43490aea):
[code]

Doing a bisect shows that the problem was introduced by 18da0db0d9e8663683

Apart from the minigzip issue, the test should have failed since

[2020-06-09 20:27] Dead2 commented on #631
I wonder whether the better compression is because deflate_medium checks the next match before deciding whether to use the current one or not.
I expect that can be something that occurs more often with some kinds of data.

That might possibly also be what makes it faster (since it can skip encoding of many short matches and rather do fewer but bigger matches), but that is just a theory.

One could

[2020-06-10 08:24] malytomas commented on #633
[code]
Which seems to have these vector instructions:  Intel® SSE4.1, Intel® SSE4.2, Intel® AVX

Building with WITH_AVX2=OFF (with cmake, not configure) does make it work.
(Tested on fe69810c265858b7b4242663d51336726f4a98be)

Do I have to know the target cpu at build time? Or is this an issue in runtime detection? Would building with configure instead of cmake fix runtime detection? (configure is

[2020-06-10 09:10] mtl1979 commented on #633
There is still some unfinished work in the run-time detection....cmake has lagged behind configure ever since it was added.

[2020-06-10 15:02] BotellaA commented on #142
Any plan on exporting CMake targets? CMake3 is now very common.

[2020-06-11 06:30] dankegel opened #638 "Hard to verify that cmake and configure do the same thing"
The two build systems do not produce exactly the same output, and it's hard to know if that is benign or a real problem.  But it turns out to be a real problem; see e.g. https://github.com/zlib-ng/zlib-ng/issues/553

[2020-06-12 16:30] dankegel commented on #569
This bug's title describes a non-problem for the normal use-case of zlib and zlib-ng; zlib-ng's private headers are compiled as C, and C/C++ toolchains are really, really good at combining those properly.

Maybe change the title of this bug to "zlib-ng harder to include as a single source file than miniz"?

[2020-06-13 03:41] nmoinvaz commented on #514
I'm going to close for now, if anybody has anything else to contribute we can reopen.

[2020-06-13 03:41] #514 closed, assigned to nobody

[2020-06-13 03:49] nmoinvaz commented on #494
This is most likely resolved with #620.

[2020-06-13 19:04] dankegel commented on #593
That page says "we prefer that users file bugs against the analyzer when it flags false positives".

So I filed https://bugs.llvm.org/show_bug.cgi?id=46314

Here's how I reported the problem.  Pardon me while I overcommunicate :-)

Checked to make sure the bug had not been reported:

https://bugs.llvm.org/buglist.cgi?component=Static%20Analyzer&list_id=189412&product=clang&query_format=advanced&sh

[2020-06-15 08:46] #593 closed, assigned to nobody

[2020-06-15 18:30] todd-richmond commented on #553
@nmoinvazy  any chance of rebasing and merging? I updated our zlib-ng tag last week after seeing other cmake related changes but it still causes apps to crash with illegal instructions unless I add -DHAVE_AVX2_INTRIN. This time I cleaned up our build system to use LTO and now the gnu assembler crashes. Disabling avx2 allows it to run again

I just spent a bit more time and this only fails for cmak

[2020-06-15 19:41] nmoinvaz commented on #553
I don’t have ability to do merges. You can find the rebased commit in #560. It is the first one in the PR.

[2020-06-15 20:33] mscastanho opened #646 "ctest: many tests fail if executed in parallel"
It has just been brought to my attention that some tests fail if I add the `-j` flag to the `ctest` command listed in the README:
[code]
I tested this on x86_64 and ppc64le. The overall issue persisted, but not necessarily the same set of tests failed.

This issue is more likely a question than a bug report. Is there some kind of dependence between tests that requires them to be run in sequence (l

[2020-06-15 20:33] todd-richmond commented on #553
thx for the feedback. I can wait for that PR merge and will just use configure until then to get the avx2 functionality

[2020-06-15 20:43] mtl1979 commented on #646
Some of the names of intermediate files are not unique, so running multiple tests in parallel mixes them between tests...

[2020-06-15 21:24] nmoinvaz commented on #646
The tests compress and then uncompress the file, then compare with original, so there is a specific order that things should go.

[2020-06-16 07:11] Dead2 commented on #646
Sounds like something that could be improved upon without too much difficulty.

[2020-06-16 14:06] #635 closed, assigned to nobody

[2020-06-19 04:21] nmoinvaz commented on #536
Should be fixed now in latest develop.

[2020-06-19 04:21] #536 closed, assigned to nobody

[2020-06-19 04:21] nmoinvaz commented on #605
Should be fixed now in latest develop.

[2020-06-19 04:21] #605 closed, assigned to nmoinvaz

[2020-06-19 04:22] nmoinvaz commented on #494
This should be fixed now that #620 is merged.

[2020-06-19 04:22] #494 closed, assigned to nobody

[2020-06-19 16:39] neurolabusc commented on #631
It is curious that when [pigz is built using zlib-ng](https://github.com/neurolabusc/pigz-bench-python) it exhibits the expected behavior, of better compression with higher compression level. Here is the Silesia corpus for comparison. Note similar results at level 6 (minigzNG = 32.51%, pigzng = 32.52%), but pigz compresses smaller at higher levels. Is there some difference in the strategy between

[2020-06-19 17:30] nmoinvaz commented on #631
@neurolabusc are you comparing minigzip to pigz (in single threaded)?

[2020-06-19 17:59] neurolabusc commented on #631
While increasing the threads improves the speed of pigz, it does not really influence the compression ratio. What surprises me is that pigzng continues to show better compression ratios for levels higher than 6, while minigzNG shows paradoxically poorer compression ratio at levels 7,8,9 vs 6.

[code]

[2020-06-23 19:42] neurolabusc opened #654 "minigzip fails if compiled with USE_MMAP=1 and creating compression level 1"
minigzip compiled with USE_MMAP=1 creates corrupted gz files for compression level 1.

[code]

[2020-06-25 22:19] Dead2 commented on #568
Closing, reopen if this is still a problem.

[2020-06-25 22:19] #568 closed, assigned to nobody

[2020-06-27 05:19] nmoinvaz commented on #631
`pigz` might do better compression performance because it compresses shorter blocks.

[2020-06-27 10:55] Dead2 commented on #173
Closing as this is probably fixed now, please reopen if this is still a problem.

[2020-06-27 10:55] #173 closed, assigned to nobody

[2020-06-28 01:01] dankegel opened #658 "crc32_combine_{gen,op} originated in zlib-1.2.12?, but are listed as 1.2.9 in zlib.map?"
Running test/pkgcheck.sh from
https://github.com/dankegel/zlib-ng/tree/cmake-intrinics-files-v2-plus-bug638
after editing it to not pass --no-added-syms to abidiff fails with:
[code]

Strictly speaking, zlib.so (when built in compat mode) probably shouldn't offer any
new symbols, as that might make it hard for users to flip back to classic
zlib.  But if they're not in zlib.h, trouble is unlikely.

[2020-06-28 04:13] nmoinvaz commented on #658
We could do `#if ZLIB_VERNUM > 0x12b0 || !defined(ZLIB_COMPAT)`?

[2020-06-28 04:15] nmoinvaz commented on #658
Great work! Were those crc32_combine functions the only ones that were different?

[2020-06-28 04:44] dankegel commented on #658
They were the only ones that jumped out at me so far, but I have not yet really looked at the map file and symbol versions.

[2020-06-28 19:50] nmoinvaz commented on #654
This should be resolved now that #657 is merged. We can reopen if needed..

[2020-06-28 19:51] #654 closed, assigned to nobody

[2020-06-28 19:51] nmoinvaz commented on #553
Can you please confirm that the latest `develop` solves the problem for you?

[2020-06-28 19:52] nmoinvaz commented on #633
@malytomas can you please confirm if the latest `develop` branch solves your problem? Thank you.

[2020-06-29 01:15] #467 closed, assigned to nobody

[2020-06-29 17:31] todd-richmond commented on #553
@nmoinvaz looks good. I removed -DHAVE_AVX2_INTRIN=OFF  and compiles on our old system now complete w/o illegal instructions. Thx...

[2020-06-29 17:31] #553 closed, assigned to nobody

[2020-06-30 14:57] mscastanho opened #666 "Configure silently misbehaves when CHOST is a debian tuple rather than a GNU triplet"
I believe the issue is on `configure:26`:
https://github.com/zlib-ng/zlib-ng/blob/9abe04b926ef688efa3d4f464209246a22afb01d/configure#L25-L28
When `CHOST` is something like `powerpc-linux-gnu`, it will match the second pattern, which will select the last string after the `-`. But this issue happens with any `CHOST` value in the form `first-second-third`, such as `arm-linux-gnueabihf` and `aarch64-l

[2020-06-30 16:34] nmoinvaz commented on #478
The detection logic was added for continuous integration. I think @MilhouseVH makes some good points. However, the idea of `WITH_HARD_FLOAT` option would get kind of messy considering that there is 3 types of floating point configurations. I think it is best to set floating point type with `CMAKE_C_FLAGS` and remove the detection logic I added to CMake. I started looking into this again due to #56

[2020-06-30 20:09] dankegel commented on #666
A bit more detail:

This has also been mentioned at http://james.hiebert.name/blog/work/2012/05/23/Gentoo's-libz-mess.html

Evidently CHOST is a variable named used by Gentoo, see https://wiki.gentoo.org/wiki/Changing_the_CHOST_variable
https://bugs.gentoo.org/651908 has a list of all the CHOST values known to gentoo as of 2018.

Debian talks about this, too; see https://wiki.debian.org/Multiarch/

[2020-06-30 20:18] dankegel commented on #666
It's likely that this bug should be entitled "configure silently misbehaves when CHOST is a debian tuple rather than a gnu triplet".

[2020-07-02 09:04] malytomas commented on #633
Yes this works for me.
Tested on 630f9658f9f2e5b27156d78aacabf93044d11366
Thanks.

[2020-07-02 09:04] #633 closed, assigned to nobody

[2020-07-04 16:37] neurolabusc opened #680 "minigzip creates invalid gz files at compression level 1"
Building zlib using the default settings of configure or cmake, the resulting minigzip will create invalid gzip files when asked to compress to level 1. This does not happen for all files, but it does happen for some files. Examples of problematic files are the webster and reymont files from the [silesia corpus](http://sun.aei.polsl.pl/~sdeor/index.php?page=silesia). This may be an unintended cons

[2020-07-04 16:47] neurolabusc commented on #631
This effect is only seen with the `-f` argument. For gzip, libdeflate and pigz the `-f` argument forces overwrites. However, for minigzip it sets compression to Z_FILTERED. While it is unusual that Z_FILTERED is worse at these higher compression levels, this meddling in the defaults is unlikely to impact most users and use cases.  See [here](https://github.com/zlib-ng/zlib-ng/pull/677) for details

[2020-07-04 16:47] #631 closed, assigned to nobody

[2020-07-04 18:17] dankegel opened #681 "configure and cmake disagree on CPU feature checks"
When doing native builds, cmake actually checks whether CPU features
are present, whereas configure doesn't.

This leads to the cmake and configure builds producing different
output on the Mac CI build, which uses a Sandy Bridge processor
which supports AVX but not AVX2.

https://github.com/dankegel/zlib-ng/tree/bug638-identical-builds-tmpsssh
disables that particular runtime check and achieves id

[2020-07-04 20:37] nmoinvaz commented on #658
@dankegel is this part of your PR, or did you want me to make one?

[2020-07-04 20:39] nmoinvaz commented on #680
This algorithm seems hard to get right. All the other algorithms are designed to output literals/matches one particular way except for this quick algorithm..

[2020-07-04 21:31] dankegel commented on #658
It's not part of my PR, and is fair game.

[2020-07-04 23:58] nmoinvaz commented on #658
Full list of functions
[code]

[2020-07-05 00:01] dankegel commented on #658
And all the unversioned ones probably need versions.

[2020-07-05 00:09] nmoinvaz commented on #658
Yea, I will open a PR for it. Btw, your script works quite well!

[2020-07-05 22:13] nmoinvaz commented on #680
I tried with `-DUSE_MMAP=ON` and cmake on Windows and decompress with minigzip and then with WinRAR.using reymont file with no problems.

[2020-07-05 22:17] nmoinvaz commented on #680
Looks like it is not related to `USE_MMAP`, I reprocued it without it.

[2020-07-09 01:21] nmoinvaz commented on #681
defaults to false, to match configure's behavior?

That sounds like the `WITH_NATIVE_INSTRUCTIONS` option, unless I am misunderstanding. Configure script also has `--native`.

I think we need to fix the issues with configure script. What was the error you were getting? As far as I know configure script does do check for CPU features but perhaps it missed one?

[2020-07-09 02:06] nmoinvaz commented on #681
Perhaps #687 will help?

[2020-07-09 16:36] Dead2 commented on #681
Good catch.
Cmake/configure should not do runtime checking of cpu instruction support (It could potentially do that if native is enabled, but should not otherwise). It should check compiler support and leave the runtime checks to the functable code if at all possible.

We cannot expect distros or others distributing the library to compile using the latest and greatest cpus of each architecture, so

[2020-07-09 21:20] dankegel commented on #681
https://github.com/dankegel/zlib-ng/commit/f9fc887b813d6c0a76f38f5a2cdfbac47f138efa is probably a sufficient fix for now.

[2020-07-12 17:04] nmoinvaz commented on #478
@MilhouseVH I believe this should be fixed in latest `develop` - you can specify `-mfloat-abi` in `CMAKE_C_FLAGS` and it will not be overriden. Also `-mfpu=neon` is now only set on source files that use neon - as instruction set flags are now set only on the files that use them.

[2020-07-13 02:47] alexey-milovidov opened #694 "How does level 1 compare with SLZ (Haproxy version)?"
See http://www.libslz.org/

[2020-07-13 04:20] nmoinvaz commented on #694
The algorithm looks similar at least from the description and brief look at the source code. We do utilize some hardware optimizations that SLZ library does not, however we likely have a higher library overhead.

[2020-07-13 14:25] #681 closed, assigned to nobody

[2020-07-13 16:14] xnox commented on #90
I see that the two critical bugs mentioned have now been fixed.

I feel like classic zlib should stay as is.

zlib-ng compiled to provide zlib-ng ABI only in Ubuntu.

And allow all the things switch to zlib-ng and/or proactively port them.

[2020-07-13 19:34] Dead2 commented on #90
@xnox I agree that the zlib-ng native API should be preferred, and that distros should keep stock zlib as-is, at least initially. But that has to be their choice.

Zlib-ng is rapidly getting closer to its first stable release, we are not quite there yet but there are great and determined minds helping out with getting us there now, and the blocker-list is shrinking rapidly. I am hoping to do an al

[2020-07-13 22:14] xnox commented on #90
It is a bit a chicken egg problem usually, something is not considered to be stable until everyone uses it, and nobody uses something until it is stable.

Imho, it sounds like it's time to cut a release call .99.99.9000 declare an abi and ship and start porting software to it. This gives us time to find ABI / API bugs, and fix them, in time to ship 1.0.0 abi later in 2021, well in time to port all

[2020-07-14 04:15] #680 closed, assigned to nobody

[2020-07-15 19:59] dankegel opened #697 "configure's --native and cmake's -DWITH_NATIVE_INSTRUCTIONS don't do quite the same thing, but it's ok?"
This is a followon to #681

configure's --native still links in some code that is dead because it's not supported by build machine.

cmake's  -DWITH_NATIVE_INSTRUCTIONS avoids that by doing a configure-time run check.

Because *runtime* runtime checks keep the behavior the same, this discrepancy will probably not matter to end users.

It could affect users who are insanely focused on small code si

[2020-07-16 17:13] Dead2 commented on #90
When I say stable, I mean it in the way of not lightly accepting huge changes that could break other things.
I fully expect there to be bugs that need fixing :)

[2020-07-16 18:01] mtl1979 commented on #90
Stable API (not causing compiler or linker errors) vs. stable at run-time (not crashing)...

[2020-07-16 22:13] dankegel opened #699 "No test currently verifies whether zlib-ng ABI is stable"
Many consumers of zlib-ng assume that each new minor release (or, let's face it, each new commit)
yields a library that is ABI-compatible with the previous one, i.e. that they can just install
a prebuilt zlib-ng shared library (say, from homebrew or apt) and their program will
still run properly without being recompiled.

This is important enough that there are websites that track the ABI compatib

[2020-07-17 00:21] dankegel opened #700 "compat mode not yet ABI compatible with classic zlib on 64 bit machines"
Noticed while fixing #699.

https://github.com/dankegel/zlib-ng/tree/abicheck-tmpsssh is a draft of a new script, tmp/abicheck.sh,
that compares zlib and zlib-ng --compat ABIs (as well as makes sure zlib-ng non-compat ABI remains stable).

It complains that quite a few functions have arguments of the wrong size, e.g.
[code]

Evidently ZLIB_COMPAT needs to be sprinkled around the codebase a little

[2020-07-17 00:22] mtl1979 commented on #700
I can make a pull request to fix this...

[2020-07-17 13:34] #638 closed, assigned to nobody

[2020-07-17 13:34] #666 closed, assigned to nobody

[2020-07-17 18:26] mtl1979 opened #703 "Wrong default for constness in compat mode"
* ```next_in``` and ```msg``` inside ```zstream``` should not be const by default in compat mode

[2020-07-17 20:41] dankegel commented on #700
While looking into this, I noticed 32-bit-only problems, and filed https://github.com/zlib-ng/zlib-ng/issues/705 for them.

(In short, the recent commit
"For gzseek, gzoffset, gzopen, adler32_combine, crc32_combine and crc32_combine_gen, export 32-bit and 64-bit versions for zlib-compatible api and only 64-bit version (without 64 suffix) for zlib-ng native api",
https://github.com/zlib-ng/zlib-ng/

[2020-07-17 20:49] mtl1979 commented on #700
@nmoinvaz might need to make pull request with partial revert to fix that issue... We do still support 32-bit processors.

[2020-07-17 23:50] dankegel commented on #700
Y'know, I should probably file a separate bug for the 32 bit problems... done.

[2020-07-18 00:22] mtl1979 commented on #700
@dankegel Indeed...

[2020-07-18 04:19] dankegel opened #705 "compat mode not yet ABI compatible with classic zlib on 32 bit machines"
While looking into #700, I noticed a few z_off64_t problems when testing with -m32, see https://github.com/dankegel/zlib-ng/runs/883759283 :
[code]

On a 32 bit box (ubuntu 16.04), I also saw:
[code]

Evidently zconf.h never sets Z_LARGE64 anymore since the recent commit
"For gzseek, gzoffset, gzopen, adler32_combine, crc32_combine and crc32_combine_gen, export 32-bit and 64-bit versions for zlib-

[2020-07-18 14:44] 0181532686cf4a31163be0bf3e6bb6732bf commented on #97
@sebpop so in your opinion, is it still worth the time/work? or zlib-ng should outperform fast-zlib in most cases?

[2020-07-18 14:47] gdevenyi commented on #97
I suggest integrating fastzlib into the latest benchmarking and see if it's worth investigating

[2020-07-26 19:31] nmoinvaz commented on #97
From the description of the algorithm changes on fastzlib website:

It sounds like the algorithm will skip ahead and make some assumptions that farther matches will always yield better results. Perhaps this is what @sebpop encountered when he said that it does not provide better compression on several data sets.

[2020-07-26 19:48] mtl1979 commented on #97
Comparing hashes of first 3 bytes is almost always inefficient if best match is longer than 3 bytes... That is why some levels hash 4 bytes instead... It could be future optimization to switch to hashing 4 bytes after the initial comparing on levels that still hash just first 3 bytes. Hashing more than 4 bytes might require more bits or there would be too many collisions.

[2020-07-26 20:08] nmoinvaz commented on #97
Also I think they have to be frequent in the window, not necessarily the file.

[2020-07-27 06:38] gildor2 commented on #97
No assumptions, algorithm just allows to perform longer jumps when seeking for match, without losing anything. These longer jumps. So, if there's a limit say for 100 jumps, performance will be the same as for original zlib, however my algorithm will process larger set of data, what makes compression better when compression level is smaller than 9. At level 9, longest_match function is almost unres

[2020-08-01 21:46] NiLuJe opened #708 "loadchunk in chunkcopy_neon can generate unaligned 64bit loads on ARMv7"
Me again with some more sneaky ARMv7 issues ;).

Since https://github.com/zlib-ng/zlib-ng/commit/e40d88adc9e8180969c6c56a0deb4ec69c3ec92b, `loadchunk` (via `chunkcopy_neon`) will happily generate unaligned 64bit loads:

[code]

(The SIGBUS is from the kernel's alignment trap in signal+warn mode).

This is all a bit over my head, because NEON, but this simple change *seems* to at least not trip the

[2020-08-01 21:47] NiLuJe commented on #708
Sidebar: I had to mangle the Makefile a bit to get the (!CMake) build-system to actually get me a debug build (i.e., by honoring CFLAGS when linking, and having `-Og -g` in there):

[code]

[2020-08-01 21:49] NiLuJe commented on #708
On a possibly related note: someone might want to take a look at GCC's output with `-Wcast-align` enabled, because it's not happy about quite a lot of casts, and that one used to be one of those ;p.

[2020-08-02 03:48] NiLuJe commented on #708
The plain C variant of `chunkset.c` is similarly afflicted, and will trip -- at least -- on a strd in storechunk:

[code]

Hiding those behind `UNALIGNED64_OK` instead of `UNALIGNED_OK` fixes that.

[code]

In my quick test, I don't appear to have code that exercises `put_uint64`, so that last one is more of a "better be safe than sorry" ;).

[2020-08-02 04:59] mtl1979 commented on #708
You should make a pull request, so we can review it and that way it would get merged in faster... I have looked at the assembler output and the cause of the trap is obvious...

[2020-08-02 11:45] gdevenyi commented on #708
A PR would also get auto built and tested

[2020-08-02 15:04] NiLuJe commented on #708
Will do, that was mainly a braindump to see if I wasn't barking up the wrong tree while stuff was building and before doing some more extensive tests ;).

[2020-08-02 15:08] mtl1979 commented on #708
I've seen before that optimizer of compilers discard casts that it thinks are unnecessary... Basically it thinks using 64-bit vector items is more efficient than using 8-bit vector items. Modern compilers actually use unions that contain all vector types so optimizer is the one that should deduce the correct vector item size despite user specifying what he/she wants.

Same happens with both gcc an

[2020-08-02 15:35] NiLuJe commented on #708
@mtl1979: Yep, but the cast also implies an implicit contract from the programmer that the alignment constraints are honored, letting the optimizer do its thing. Except, here, that's obviously problematic  ;).

[2020-08-02 15:42] mtl1979 commented on #708
@NiLuJe The problem here with the cast is that the user-defined type maps to the union type, not the union member that specifies the vector item width...

[2020-08-02 18:12] nmoinvaz commented on #708
For `put_uint64`, it should use 2 calls to `put_uint32` when `UNALIGNED64_OK` not defined. The alterative in the `#else` would be much slower.

[2020-08-04 13:23] gdevenyi opened #713 "Consider SIMD Everywhere for uniform intrinsics support"
https://simd-everywhere.github.io/blog/announcements/release/2020/06/21/0.5.0-release.html

[2020-08-04 13:45] mtl1979 commented on #713
I actually tried similar approach with adler32 in the early days and performance was a lot worse than non-SIMD version on some processors.... This is because only some specific AMD processors (read: Bulldozer only) have necessary instructions and emulating them is expensive.

Now we use versions optimized for specific prosessor architectures and the performance is a lot better especially when usin

[2020-08-04 14:01] gdevenyi commented on #713
Cool. I'm not technically savvy enough in this to evaluate it usefulness directly, but I did see it as a possible way to reduce the development burden at the zlib-ng level by streamlining the code. Perhaps at least there might be bits to copy for providing performant emulation of calls where some arches don't support.

[2020-08-04 14:13] mtl1979 commented on #713
Horizontal add can be emulated with multiply-add (when available) with multiplier input vector as all decimal 1... This is because multiply-add widens the vector lanes like horizontal add... It however doesn't make sense to reload the multiplier on every call, so the load must be done when entering the outer function, not inside the "replacement" function.

Another specific issue with adler32 is t

[2020-08-12 08:23] joshtriplett opened #714 "Feature request: fast inflate that discards data, to find length"
Some file formats, such as the git packfile format, have a series of DEFLATE-compressed streams within them, and don't include lengths that would allow skipping over them to the next piece of data. Git's index file format provides those offsets, but when *creating* that index file, you have to walk over the entire pack file, deflating each object sequentially, in order to find where the next objec

[2020-08-12 09:15] mtl1979 commented on #714
It would still need to partially reconstruct the decompressed data to make sure no-one tries to pass in corrupted or invalid data, but copying of decompressed data to user-supplied output buffer could be skipped to improve the speed.

[2020-08-12 16:12] nmoinvaz commented on #714
It seems like that could already be accomplished with `inflateBack` with user specified write callback.

[2020-08-12 16:17] mtl1979 commented on #714
Calling a callback function would probably be even slower than using normal optimized memcpy(). This is because callback functions need own stack frame.

[2020-08-12 16:28] nmoinvaz commented on #714
We can check to see if the callback is `NULL` and if it is then not attempt to call it.

[2020-08-12 16:33] mtl1979 commented on #714
@nmoinvaz That would actually make it slightly faster when callback is NULL even though it introduces conditional jump. I just don't know how big speed penalty it would incur if the callback is non-NULL.

[2020-08-12 16:59] nmoinvaz commented on #714
Yeah it is definitely a trade off. It ends up making things a bit faster for one scenario and a bit slower for another. Either way I think @joshtriplett should be able to use `inflateBack` in its current state and he can profile it to see if checking for `out` is NULL is that much better for his scenario.

[2020-08-12 17:00] joshtriplett commented on #714
@mtl1979 wrote:

That's not quite what I'm looking for. If I need to validate the data, I can do a full inflate; the optimization of avoiding the final copy might be nice, but generally if I'm validating the data I'll also want to do something else with it, such as hash it, so I need the data anyway.

In this case, I really do just want to know the length of the compressed data stream, so that I c

[2020-08-12 17:02] mtl1979 commented on #714
@nmoinvaz I had a quick glimpse at inflateBack() and no-op'ing the output callback would require more than just checking that output callback is non-NULL as the code blindly writes to output buffer until it's full...

[2020-08-12 17:07] mtl1979 commented on #714
@joshtriplett I think easiest way would be to duplicate inflateBack() and strip anything that writes data to output window. Some lines would need to be modified to make sure input pointer is advanced even if copying and advancing output pointer is removed.

I'm not sure what is the best way to test the modified code actually works as expected except linking the code against git...

[2020-08-12 17:22] joshtriplett commented on #714
@mtl1979 I'd be happy to give that a try and benchmark it. (I'm sure there's a more maintainable way to avoid the code duplication, but it'll help to have numbers for how much this could help first.)

[2020-08-12 17:25] mtl1979 commented on #714
@joshtriplett We have used various tricks to avoid code duplication elsewhere in the code, but for initial testing, it is easier to just duplicate the code... When there is just two alternatives, it doesn't make sense to use macros to hide the differences especially when the code already uses a lot of macros....

[2020-08-12 18:46] nmoinvaz commented on #97
My first benchmark test:
## MADLER
[code]
## FAST-ZLIB
[code]
## ZLIB-NG
[code]
And here is another longer run to make sure my benchmarks weren't messed up:

## MADLER
[code]
## FAST-ZLIB
[code]
## ZLIB-NG
[code]

[2020-08-14 04:26] joshtriplett commented on #714
Some preliminary results using a large (914MB compressed, 2592MB uncompressed) DEFLATE stream:

- About 8.3s using `inflate`.
- About 8.9s using `inflateBack` with a no-op in and out callback.
  - Changing `inflateBack` to check for a NULL callback seemed to add a few milliseconds to the timing, whether passing NULL or a no-op. Looks like `inflateBack` isn't the right starting point.
- About 7.4s

[2020-08-14 06:35] nmoinvaz commented on #714
I am noticing that in `inflateBack` that there might be some continual checks that call `ROOM`. And it may still copy bytes to `s->window` using the `put` variable.  So `s->window` is being used as internal buffer before writing to `out` it seems. Removing that might give significant gains.

Also I am wondering what is the size of the input buffer given to `inflateBack`? If you increase it do you

[2020-08-14 06:52] joshtriplett commented on #714
@nmoinvaz I gave inflateBack all of the input data at once, and made the input callback a no-op.

[2020-08-15 01:35] nmoinvaz commented on #97
It seems that the _fast-zlib_ method is not currently compatible with _zlib-ng_ because _zlib-ng_ hash table consists of 4 byte hashes, where as original _zlib_ uses rolling hash or hash of consecutive bytes. _Fast-zlib_ takes advantage of the _zlib_ hashing method to optimize `longest_match` lookup.

From @mtl1979:

I'm not sure if this can be overcome.

[2020-08-15 23:58] nmoinvaz commented on #714
@joshtriplett I have done some benchmarking on the PR.  Do you plan on trying to take out the copying of data to `s->window` and the checks to `ROOM`? Perhaps the modifications might be better suited for a new function like `inflateSize`.

[2020-08-16 12:36] #708 closed, assigned to nobody

[2020-08-16 14:35] nmoinvaz commented on #516
I think this should be resolved now. CMake now uses -O2. @dankegel do know anything we are missing? I think they should be building the same with pkgcheck.sh correct?

[2020-08-16 17:30] joshtriplett opened #720 "total_in and total_out should use unsigned long"
Base zlib defines total_in and total_out as `unsigned long`, not `size_t`. (This manifests on 64-bit Windows, where `size_t` is not the same size as `unsigned long`.)

[2020-08-16 17:35] joshtriplett commented on #714
@nmoinvaz I didn't touch the `inflateBack` function, only `inflate`, so there are no calls to `ROOM`. I removed all of the copying of data to `s->window`, and as far as I can tell, the window should never get allocated at all.

[2020-08-16 17:57] dankegel commented on #516
I know of no further problems (though I haven't really looked).  pkgcheck.sh is now hands off with respect to cflags.  OK to close as fixed IMHO.

[2020-08-16 18:05] joshtriplett commented on #720
Should be fixed in #721.

[2020-08-16 18:13] nmoinvaz commented on #515
Do we still need to do this since everything has been harmonized?

[2020-08-16 18:52] Dead2 commented on #515
Probably not necessary anymore

[2020-08-17 17:17] joshtriplett opened #722 "arm-unknown-linux-gnueabi failure: "You must enable NEON instructions (e.g. -mfloat-abi=softfp -mfpu=neon) to use arm_neon.h""
When trying to do a build (via CI) on arm-unknown-linux-gnueabi:

[code]
(Followed by a cascade of errors about not finding SIMD types and functions.)

[2020-08-17 17:39] nmoinvaz commented on #97
Here is another longer run to make sure my benchmarks weren't messed up:

## MADLER
[code]
## FAST-ZLIB
[code]
## ZLIB-NG
[code]

[2020-08-17 17:50] joshtriplett opened #723 "cmake request: please provide an option to give a unique library name on all platforms"
For the benefit of portable software building a local static copy of the library with custom options, please consider providing a cmake option to override the logic that calls the library `zlib` on Windows, `zlibd` for Windows debug, and `z` everywhere else. I'd love to have an option I can pass in to call it `zlib-ng-compat-local`, for instance, so that I know a linker will never accidentally pic

[2020-08-18 06:57] joshtriplett commented on #42
I just did some benchmarking on the current versions of various deflate implementations, including zlib-ng. For decompression, fast (1) compression, and default (6) compression, zlib-ng wins handily. For maximum (9) compression, cloudflare-zlib had a substantial performance lead over zlib-ng. It looks like there may be further improvements from the cloudflare-zlib patches that could hopefully be i

[2020-08-20 06:30] nmoinvaz commented on #646
This is now done in #695.

[2020-08-20 06:30] #646 closed, assigned to nobody

[2020-08-20 11:07] Dead2 opened #728 "We need to clean up test files better"
Currently `git status` tells me I have the following untracked files:

[code]

There might also be some that gets ignored due to `.gitignore`.
Some of these might be old leftovers though, but I think I cleaned them out a few weeks ago.

We should get better at deleting the files after the test or with `make clean`.
The repeating file pattern above also hints that we might have (or had) a bug with

[2020-08-20 11:44] mati865 opened #729 "Cannot cross compile to Windows"
Tested in Ubuntu 18.04 and 20.04 containers.
That's caused by https://github.com/zlib-ng/zlib-ng/blob/1a46fb9ee1b6926eb8635d32d7f7c1c023a79625/cmake/detect-arch.cmake#L20 which according to [official docs](https://cmake.org/cmake/help/v3.18/variable/CMAKE_LANG_COMPILER_TARGET.html) is not generally set:

<details>
<summary>The error:</summary>

[code]

</details>

---

Passing `-DCMAKE_C_COMPILER_

[2020-08-20 12:06] Dead2 commented on #729
That is weird. What does your gcc return when you run the following?
`# /usr/bin/i686-w64-mingw32-gcc -E -dM - < /dev/null |grep -iE "i[3456]86|X86"`

In my instance this returns the following, and should cause `detect-arch.c` to find a match with `__i386`:
[code]
I ran this on Fedora 30 with `mingw32-gcc-8.3.0-2.fc30.x86_64`.
It is strange if this is different on Ubuntu, but if it is we can make

[2020-08-20 12:21] mtl1979 commented on #729
Works here on Ubuntu 18.04.4 with:
[code]

Architecture is correctly detected but build itself fails because all other cross-compiling variables are unset, so it tries to find *.exe files...

[2020-08-20 12:34] mtl1979 commented on #729
[code]

[2020-08-20 13:25] mati865 commented on #729
@Dead2 on Ubuntu 20.04:
[code]

@mtl1979 without `-DCMAKE_SYSTEM_NAME="Windows"` you are in weird mode where CMake will use MinGW cc but all the other tools will be system native. So you get x86_64 Linux ar, ld, ranlib...

<details>
<summary>Details</summary>

[code]

</details>

Creating `toolchain-mingw-i686.cmake` manually is not feasible since this build fails on Rust CI.

[2020-08-20 13:34] mtl1979 commented on #729
@mati865 I just posted the toolchain file contents because it contains minimal set of variables that need to be set so that zlib-ng builds correctly.

[2020-08-20 13:41] Dead2 commented on #729
@mati865 That is weird then, that it does not detect that define. Perhaps it is also related to the other stuff going on.
This did point out one bug in our cmake script though, so I'll be fixing that shortly. It will not fix the rest of this issue though, but PR #730 might fix that.

[2020-08-20 16:21] nmoinvaz commented on #658
The PR has been merged.

[2020-08-20 16:21] #658 closed, assigned to nobody

[2020-08-20 19:14] dvershinin commented on #488
Looking for a release/tag that can be used as a reference for packaging purposes.
Is there still no release planned?

[2020-08-20 19:42] Dead2 commented on #488
We are real close now. I want to have #717 #724 #725 and #704 merged before I make a stable branch and tag an beta release.

#704 is the only one of those that is stalled currently, until someone can come up with some better macro names (or a way to do it with fewer macros). Suggestions are welcome.

The rest of them are just maturing a little until I think they are ready to be merged. (Preferably

[2020-08-21 03:58] nmoinvaz commented on #728
I think perhaps the long filename issue is partially resolved by #732 by adding quotes around `TEST_FILE_PATH`.

[2020-08-21 04:31] nmoinvaz commented on #478
If this is still an issue it can always be reopened, but it should be resolved now.

[2020-08-21 04:31] #478 closed, assigned to nobody

[2020-08-22 02:00] nmoinvaz commented on #612
@gdevenyi, can we close this issue? I think the performance benchmarks are good.

[2020-08-23 07:58] #703 closed, assigned to nobody

[2020-08-23 14:41] #515 closed, assigned to nobody

[2020-08-23 15:05] gdevenyi opened #736 "Porting guide from zlib to zlib-ng"
For users who want to go all-in in switching from zlib to zlib-ng (i.e. don't use zlib-compat), I don't yet see a guide for porting to the new API.

[2020-08-23 16:06] mtl1979 commented on #736
We haven't stabilized the new API yet... Around the first release, we should have all the details necessary to make a porting guide...

Differences include for example:
* Some types, including struct members, are const always now
* Some types are always same bit width independent of architecture pointer size (no long or long long)
* Some struct members are smaller or larger than with zlib, hard-co

[2020-08-30 20:22] #720 closed, assigned to nobody

[2020-08-30 21:19] joshtriplett opened #741 "Support cpuid-based selection of top-level functions"
Optimizing the whole zlib-ng library for a more capable processor provides a noticeable speed increase. I tried various different flags, and managed to figure out that the primary benefit comes from allowing `-mbmi2`:

[code]

I think it'd be beneficial to compile multiple copies of some functions, such as `inflate.c` and `inflate_fast.c`, with different compiler options and a prefix on functions,

[2020-08-30 21:36] mtl1979 commented on #741
The problem with supporting instruction sets like BMI2 is that compression/decompression programs heavily depend on bit manipulation, so basically the time-critical functions are the ones that would benefit the most from use of the instructions. This means making the code optional would most likely counter most of the speed gain from the speedup of bit manipulation instructions.

[2020-08-30 22:32] joshtriplett commented on #741
@mtl1979 That's why I'm suggesting compiling the top-level functions for it, and switching at that level, rather than trying to optimize a specific internal function with it.

[2020-08-30 22:34] mtl1979 commented on #741
@joshtriplett That would increase the library size by factor of 6 or more...

[2020-08-30 23:25] joshtriplett commented on #741
@mtl1979 I don't think it would require 6 different variations, only variations that actually make a difference in practice. I tested every single CPU feature available on my Kaby Lake laptop, and the *only* one that made a difference like this was bmi2.

(Also, if someone is looking to optimize for code size rather than performance, they could always disable this.)

[2020-08-30 23:40] mtl1979 commented on #741
@joshtriplett Basically for 64-bit Intel you would need version with just SSE2, version with SSE3, version with SSSE3, SSE4, SSE4.2, AVX2. For AMD processors it would get even more complicated.

[2020-08-30 23:52] nmoinvaz commented on #741
I wonder which functions would make the most difference..

[2020-08-31 00:25] mtl1979 commented on #741
@nmoinvaz I would assume macros/code that do both shifting and masking...

[2020-08-31 02:07] joshtriplett commented on #741
I'm not suggesting changing the approach that zlib-ng currently uses for other instruction sets. I'm just suggesting this approach for bmi2, because its usage is so intertwined into other functions.

[2020-08-31 07:40] mtl1979 commented on #741
@joshtriplett I'm saying it doesn't make sense to make exception for one small instruction set, when it can already get enabled when larger instruction set is also enabled. BMI2 is quite recent instruction set and is only supported on some recent Intel processors, Zen-based AMD processors claim to recognize the instructions, but actually emulate them in microcode instead of having real hardware su

[2020-09-03 09:15] #699 closed, assigned to nobody

[2020-09-12 14:16] xuchunmei000 opened #751 "some program crashed because of chunkmemset_3 on aarch64"
I backport the CHUNKMEMSET and CHUNKCOPY from zlib-ng to zlib for aarch64，as the performance is speed up for decompress speed.
but when i use the new zlib to build ruby on aarch64, the testcase [TestOpenURI#test_content_encoding](https://github.com/ruby/ruby/blob/0ac185be403e361da31901be4d58710000367330/test/open-uri/test_open-uri.rb#L667) crashed and the backtrace is like this:
`#0  __GI_raise (s

[2020-09-12 15:54] mtl1979 commented on #751
The error message suggests memory corruption so the actual error is earlier in the code...

[2020-09-13 02:09] xuchunmei000 commented on #751
yes, since the chunkmemset is called before updatewindow, as I found that the reason is chunkmemset_3.

[2020-09-13 02:13] nmoinvaz commented on #705
@dankegel anything more to do on this or can we close it out?

[2020-09-13 02:13] nmoinvaz commented on #700
@dankegel anything more to do on this or can we close it out? Seems like all the PRs have been merged..

[2020-09-13 02:37] dankegel commented on #705
We should fix it.  I just haven't had time.

[2020-09-13 02:40] dankegel commented on #700
The 64 bit story is pretty good, but you may want to expand the matrix in .github/worlfloat/abicheck.yml and make sure all the 64 bit architectures you care about are passing before closing it out?

[2020-09-13 08:54] mtl1979 commented on #751
I mean that the actual error is before chunkmemset_3, it's not allocating enough memory and tries to write beyond the allocated memory... This is because the optimized versions need extra padding at the end of allocation to make sure the vector instructions can read and write required amount of bytes. In zlib-ng that is automatically handled, but if you just copy some of the functions, it will not

[2020-09-13 10:33] xuchunmei000 commented on #751
ok, got it.

[2020-09-14 05:10] nmoinvaz commented on #751
@xuchunmei000 if that solves your problem, please close the issue. Thank you.

[2020-09-14 05:22] nmoinvaz commented on #714
I ran across this in the FAQ.zlib which may be related/useful:

28. Can I access data randomly in a compressed stream?

    No, not without some preparation.  If when compressing you periodically use
    Z_FULL_FLUSH, carefully write all the pending data at those points, and
    keep an index of those locations, then you can start decompression at those
    points.  You have to be careful to not u

[2020-09-14 06:13] xuchunmei000 commented on #751
ok, I will close it.
By the way, I have a question,  how does zlib-ng automatically handle the extra padding at the end of allocation ?

[2020-09-14 09:54] mtl1979 commented on #751
@xuchunmei000 Look at for example function inflate_ensure_window in inflate.c.

[2020-09-14 12:39] xuchunmei000 commented on #751
I reproduce the problem in zlib-ng, I git clone the latest code of zlib-ng
`./configure`
`make`
`for i in $(seq 1 10000); do test=abc$test; done; echo $test > test.log`
./minigzip ./test.log
./minigzip -d ./test.log.gz
free(): invalid next size (normal)
Aborted (core dumped)

[2020-09-14 12:41] xuchunmei000 commented on #751
I have modify the updatewindow function:
[code]

[2020-09-14 12:44] mtl1979 commented on #751
@xuchunmei000 you should run it using valgrind or similar tool to see where the allocation happened and what line exactly writes past allocated buffer and by how many bytes...

[2020-09-14 14:48] xuchunmei000 commented on #751
zlib-ng valgrind info:
[code]

[2020-09-14 15:24] mtl1979 commented on #751
@xuchunmei000 That valgrind output suggests it tries to access outside the buffer allocated by program using zlib-ng. See #759 for possible fix.

[2020-09-15 04:48] xuchunmei000 commented on #751
Commit #759 can fix minigzip crash,  and I known how to solve my problem. Thank you.

[2020-09-15 04:48] #751 closed, assigned to nobody

[2020-09-16 16:23] donny-dont commented on #488
@Dead2 is it time? 🤞

[2020-09-19 17:08] nmoinvaz commented on #729
This should be fixed now with the CMake toolchain files. We have also added MinGW instances to CI.

[2020-09-19 17:49] mati865 commented on #729
Thanks, I cannot test it soon so let's close for now.

[2020-09-19 17:49] #729 closed, assigned to nobody

[2020-09-20 01:03] nmoinvaz opened #763 "ASAN error in crc_folding"
This was discovered while working on #761.
[code]
https://github.com/nmoinvaz/zlib-ng/runs/1138947062?check_suite_focus=true

[2020-09-20 01:12] mtl1979 commented on #763
That would be line `algn_diff = ((uintptr_t)0 - (uintptr_t)src) & 0xF;` which is obviously invalid... it negates the bit mask of the align difference...

[2020-09-20 01:18] mtl1979 commented on #763
Basically correct would be `((uintptr_t)16 - ((uintptr_t)src & 0xF)) & 0xF`... there is no constant macro for uintptr_t, so cast is best alternative.

[2020-09-20 01:25] nmoinvaz commented on #763
I'll give it a shot.

[2020-09-20 01:27] mtl1979 commented on #763
It needs the `& 0xF` twice to make sure if src ends in 0, the result is still 0...

[2020-09-20 01:30] nmoinvaz commented on #763
I think I added that.. https://github.com/zlib-ng/zlib-ng/pull/761/commits/d24b450f71a5ab4f38afd651d8482cb2568debef

[2020-09-20 01:34] mtl1979 commented on #763
I was just explaining the reason... Sometimes I need to convince even myself that the logic is correct...

[2020-09-20 01:42] mtl1979 commented on #763
gcc seems pretty smart in optimizing that:
[code]

[2020-09-20 02:00] nmoinvaz opened #765 "ASAN error deflate_medium"
This was discovered while working on #761.
[code]

https://github.com/nmoinvaz/zlib-ng/runs/1138669281?check_suite_focus=true

[2020-09-20 02:24] mtl1979 commented on #765
hash_head can be more than s->strstart, so obviously we should check for that...

[2020-09-20 02:42] nmoinvaz commented on #765
See https://github.com/zlib-ng/zlib-ng/pull/761/commits/a4c248a667fd2ff3b6ae7e90b0c2f426c5713c89. I have extended the check to the other deflate algorithms as well. Deflate quick already had this check.

[2020-09-20 02:59] nmoinvaz commented on #736
@mtl1979 is this still true, now that the NEON stuff has been removed?

* Some allocated buffers should be aligned to 16 byte boundary, see above, safe is to let zlib-ng allocate them

[2020-09-20 10:11] mtl1979 commented on #736
@nmoinvaz It still is true, especially on architectures where unaligned reads and writes are not allowed... Most compilers by default only align to 8-byte boundary. However now that we removed chunkmemset_3 and chunkmemset_6, there is no longer requirement that when the externally allocated buffer ends at 16 byte boundary, it should be padded with extra 16 bytes...

It just basically means minimum

[2020-09-20 18:03] nmoinvaz commented on #736
I am correct in assuming this only holds true for `deflate*` and `inflate*` functions? And that for `gz*` functions they have their own internal buffers..

[2020-09-20 18:14] mtl1979 commented on #736
gz* functions are just wrappers that use deflate/inflate...

[2020-09-23 21:49] nmoinvaz commented on #728
I think we can close this now.

[2020-09-24 06:28] #728 closed, assigned to nobody

[2020-09-27 21:22] Dead2 opened #775 "Feedback from Beta 1"
Please leave general feedback from Beta 1 here.
If you found a bug, create a new issue for it.

General feedback is telling us it works on CPU X, operating system Y with application Z.
Or telling us about smaller issues/annoyances that does not warrant a separate issue.

[2020-09-28 19:39] iii-i opened #776 "GH-536-incomplete-read segfault on SystemZ"
Hi!

This new test segfaults for me as follows:

[code]

64-bit build with ASAN:

[code]

Before I start diving too deep into that, does someone maybe have an idea what could be causing this?

EDIT: Bisect points to my https://github.com/zlib-ng/zlib-ng/commit/40acb3fe1e79a3ca441ef38325a357e02fc96a6d, so I guess I'll have to investigate myself.

EDIT2: That's `switchlevels` deficiency: `deflatePar

[2020-09-28 22:06] nmoinvaz commented on #776
Something to consider but not sure if it applies here; after deflate function is called a zero store length block is sometimes written. Pending buffer needs enough extra space to hold this emission. In addition sometimes the bit buffer is flushed after which requires enough space for it. It is something I had to consider with deflate quick algorithm.

https://github.com/zlib-ng/zlib-ng/blob/b55680

[2020-09-28 22:15] #763 closed, assigned to nobody

[2020-09-28 23:36] #516 closed, assigned to nobody

[2020-09-28 23:50] nmoinvaz commented on #611
@gdevenyi can you rerun?

[2020-09-29 01:51] gdevenyi commented on #611
Run on current HEAD
[code]

[2020-09-29 02:02] mtl1979 commented on #611
Some of the "remarks" we definitely shouldn't fix as they are not standard violations... The rest should be fixed in a pull request by someone who actually has the compiler... That way we can be sure the fix doesn't cause regression with other compilers...

[2020-09-29 02:15] gdevenyi commented on #611
I don't have the bandwidth to work on a patch, but I'm happy to provide compile feedback.

[2020-10-01 22:03] nmoinvaz commented on #611
What does the output look like when we remove `-Wremarks`?
[code]

[2020-10-01 22:43] gdevenyi commented on #611
Will check

[2020-10-02 02:45] gdevenyi commented on #611
Remarks suppressed:
[code]

[2020-10-02 05:27] nmoinvaz opened #782 "UBSAN error in trees.c"
[code]

https://github.com/nmoinvaz/zlib-ng/runs/1197163500?check_suite_focus=true see macOS Clang run.

https://github.com/zlib-ng/zlib-ng/blob/b55680bab51aacfeb8f9bf3f7f01d5a1122f15a0/trees.c#L357

For some reason the CI fails to stop on sanitizer error.

[2020-10-02 05:29] nmoinvaz opened #783 "UBSAN error in gzread.c"
[code]

https://github.com/nmoinvaz/zlib-ng/runs/1197163500?check_suite_focus=true see macOS Clang run.

[2020-10-02 05:31] nmoinvaz opened #784 "UBSAN errors in infcover"
Two UBSAN errors in infcover code:
[code]
https://github.com/zlib-ng/zlib-ng/blob/b55680bab51aacfeb8f9bf3f7f01d5a1122f15a0/inflate.c#L1340-L1341

[code]
https://github.com/zlib-ng/zlib-ng/blob/b55680bab51aacfeb8f9bf3f7f01d5a1122f15a0/infback.c#L200

[2020-10-02 05:34] nmoinvaz commented on #783
https://github.com/zlib-ng/zlib-ng/blob/b55680bab51aacfeb8f9bf3f7f01d5a1122f15a0/gzread.c#L397-L402
Seems that overflow is expected here.

[2020-10-02 06:01] nmoinvaz commented on #611
Some of these also seem to be reproducible on MSVC. See #785

[2020-10-02 13:09] gdevenyi commented on #611
Output after #785
[code]

[2020-10-09 09:37] #776 closed, assigned to nobody

[2020-10-09 13:52] gdevenyi commented on #611
Update after the merges of 2020-10-08 + #785
[code]

[2020-10-09 14:00] gdevenyi opened #790 "bug: ptrdiff_t redefined"
GCC static analysis reports:
[code]

This code has existed for a while, it looks like maybe a cmake change has broken the ifdef wrapping of that line.

[2020-10-09 16:32] #784 closed, assigned to nobody

[2020-10-18 01:06] nmoinvaz commented on #782
Oddly enough these UBSAN warnings only show up on macOS.

[2020-10-18 03:34] mtl1979 commented on #782
It's not uncommon that specific operating systems or processors trigger errors in compilers or compiled code... I've written a few articles about for example gcc 7 series crashing inside virtual machine but working correctly on real CPU.

[2020-10-21 01:02] nmoinvaz commented on #790
This has been resolved.

[2020-10-21 01:02] #790 closed, assigned to nobody

[2020-10-21 01:08] nmoinvaz commented on #42
As far as I know all of the cloudflare patches that we were interested in have been merged. I think the only things that weren't merged were due to licensing (CRC SIMD). The cloudflare `longest_match` algorithm also has a minimum match size of 4 bytes which hurts compression on some types of data. It makes it faster, but does not provide as good compression for those data types. Can we close this

[2020-10-24 21:37] nmoinvaz commented on #765
Resolved in #772.

[2020-10-24 21:37] #765 closed, assigned to nobody

[2020-10-30 09:42] xuchunmei000 opened #795 "different compressed data"
I use zlib-ng and configure with --zlib-compat, and base on it I build [https://github.com/latchset/jose](jose) and run testcase of jose, found that [https://github.com/latchset/jose/blob/master/tests/alg_comp.c](alg_comp) will get failed because of zlib-ng.

alg_comp call deflate to get the compressed data and compare with the pre-defined data, since zlib-ng has optimised deflate with simd or any

[2020-10-30 09:59] mtl1979 commented on #795
Obviously we won't guarantee that the compressed data is bit-identical but when you decompress both streams, the result should be same. If it isn't, there is a bug that we need to fix.

[2020-10-30 10:51] xuchunmei000 commented on #795
I have tried to decompress the compressed data and the result is the same with the origin，no bug.

[2020-10-30 10:54] #795 closed, assigned to nobody

[2020-10-31 01:26] nmoinvaz commented on #782
This happens because `zng_tr_flush_block` is being called even when no symbols are ready for `build_trees` calculation. Ideally `build_trees` should only be called if `s->sym_next > 0`. Since all deflate algorithms use `s->sym_next` to keep symbol count this works, except deflate quick which does not use `zng_tr_flush_block` at all.

Just checking `s->sym_next > 0` causes a stored length block to

[2020-10-31 17:28] KaoDome opened #800 "Use of _CRT_NONSTDC_NO_WARNINGS in Visual Studio builds"
Hi! Just stumbled upon the project looking for zlib, I'm glad it's under active development.

When building the original zlib using Visual Studio one always needed to define that preprocessor macro to avoid warnings or errors on some calls to `open`, `read`, `write` and `close` with a message stating that those POSIX names were deprecated and one should use the ISO C/C++ ones: `_open`, `_read`, `_

[2020-10-31 17:59] mtl1979 commented on #800
In other projects, I just redefined the names when using Visual C++... With GCC and most other compilers, the underscore is added by linker, not compiler... Microsoft versions of most file I/O functions have slight differences, so just using same for GCC and others will most likely fail. This is because Microsoft uses underscore for also preprocessor macros that the I/O functions use.

[2020-11-01 17:10] KaoDome commented on #800
Oh! I see! After reading your comment I delved a bit more into what the fuss is about regarding the deprecation of the name of those functions (because apparently the functionality remained the same in VS).

I came across [an article](https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/open?view=msvc-160) in their docs that reads the following for `open()`:

I wondered what that meant

[2020-11-01 17:20] mtl1979 commented on #800
@KaoDome In Unix world, C library is not tied to compiler,  it's separate package... Later GNU C library versions have deprecated some functions and types, but I'm not sure if zlib-ng uses them.

[2020-11-02 16:23] #783 closed, assigned to nobody

[2020-11-02 17:24] #782 closed, assigned to nobody

[2020-11-03 13:40] Lucide opened #803 "Full support for CMake 3.11+ FetchContent()"
I've landed here because I was unhappy with zlib's ancient CMake.
I see that here you're targeting a much newer version, but it looks like the library is still expecting to be imported with `ExternalProject()` only.\
In the last few years, the `FetchContent()` approach is caught on, thanks to it's **major** usage improvements. But, being it basically a "glorified `add_subdirectory()`", unfortunate

[2020-11-03 14:05] mtl1979 commented on #803
I don't personally think it is viable option to add prefixes to all zlib-ng's target names...

[2020-11-03 14:18] Lucide commented on #803
Ehh fair enough, the pains of global target scoping.

(I've written "full support" because, in the current state, `FetchContent()` *should* be fine for new, prefixed, projects, as long as other, older-styled non-prefixed dependencies, don't collide)

[2020-11-03 14:21] mtl1979 commented on #803
I just use add_subdirectory() with EXCLUDE_FROM_ALL.

[2020-11-03 14:40] Lucide commented on #803
The EXCLUDE_FROM_ALL argument says that targets defined in the subdirectory will not be included in the ALL target of the parent directory by default. Doesn't change CMake's target scoping rule.

From Craig Scott's "Professional CMake":

[2020-11-03 14:44] mtl1979 commented on #803
@Lucide I have used more than one project that depend on for example gtest on same build tree with no clashes... More recent cmake versions (for example on Ubuntu 20.04.1) will crash hard during configuration phase, if there is duplicate target names...

[2020-11-03 14:48] Lucide commented on #803
I recall it was also a generator issue. Make could support (support?) that, but every other generator didn't.
see here: <https://cmake.org/cmake/help/v3.17/prop_gbl/ALLOW_DUPLICATE_CUSTOM_TARGETS.html>

Unfortunately, Linux distribution's approach to CMake is often very, very wrong. CMake is **not** a compiler, it's designed to be updated regularly, like how you allow your IDE to update. `cmake_mi

[2020-11-03 15:20] mtl1979 commented on #803
Visual Studio generators have been broken since early days... cmake developers tried to fix the generator for Visual Studio 2019, but no sane person is using VS2019 to compile production code as it is buggy as hell... There has been a lot of discussion between zlib-ng developers and Microsoft about getting bugs in Visual Studio compiler(s) fixed for all supported architectures...

[2020-11-03 16:01] Lucide commented on #803
Interesting. didn't know about that!

But I think discussing about the legitimacy of CMake logic rules/generators it's beyond the original intent of this issue.

[2020-11-03 16:07] mtl1979 commented on #803
As zlib-ng plans to support Visual Studio, it limits what we can do... For some feature that is still quite volatile, it doesn't make sense to change the current system until the feature is stable enough... Otherwise we keep changing same thing over and over as the feature evolves...

We have already increased the minimum cmake version we require from 2.8 to 3.5.1, which is quite a leap...

[2020-11-03 16:24] Lucide commented on #803
Of course! Perhaps I didn't express it very well, but I'm **very** thankful of the work you're doing here, and I'm more than satisfied of what you're already offering. When the first docs arrive, I'll jump right in.

I was proposing this just for the sake of trying, you might see a lot of similar github issues spawning up here and there. CMake is extremely hard to do right for newcomers like me, a

[2020-11-03 16:28] mtl1979 commented on #803
We're pretty close to first public release, so I think now is not the best time to make this kind of changes in the build process... I'm not sure if later on we will or should revisit the issue...

[2020-11-04 20:31] nmoinvaz commented on #803
If we were to change the zlib-ng's CMake generated project names they would no longer have the same project names as what is generated by zlib's CMake. Not sure if that would be something we would want.

[2020-11-04 20:38] mtl1979 commented on #803
I don't think having different project names than zlib is a real issue... I'm more worried about fixing something in zlib-ng that should more likely be fixed elsewhere...

[2020-11-04 20:40] mtl1979 commented on #803
Most of the "features" FetchContent() adds can already be accomplished by using git submodules... This also makes sure the download fails at earliest stage as possible and can be retried...

[2020-11-04 20:46] Lucide commented on #803
If elsewhere is on CMake's side, in the terms of a new, third dependency management system, I really doubt anything new is going to appear.
I've seen no suggestion whatsoever about a new, revamped, approach to projects. Perhaps, in the future, prefixed target will be made pseudo-mandatory, or something like that.

That said, the FetchContent()/pure add_subdirectory() approach is still pretty much

[2020-11-04 20:51] mtl1979 commented on #803
In the worst case, the best choice is adding all dependencies separately and use find_package() to get the correct include and library paths/directories... This is kind of preferred way on Unix-like systems where cmake itself has most common scripts for find_package() to find libraries...

[2020-11-04 20:59] nmoinvaz commented on #803
Well if the project names are different between zlib and zlib-ng in CMake it means that it is no longer a drop in replacement for zlib at least for my minizip project. There are other ways to manually specify the .lib but it is less than ideal.

[2020-11-04 21:01] Lucide commented on #803
Yes, find_package() is usually used for *installed* dependencies, which location would likely be outside of the project root.
In zlib's case this can be done, since it's a common package to have preinstalled. But if you also plan to support windows, this becomes not true anymore.

The *portable* way is to use the ExternalProject() approach. In this case, CMake builds and installs locally the proje

[2020-11-04 21:15] mtl1979 commented on #803
find_package() also works on Windows, but it requires Administrator rights to install new packages as Windows doesn't normally allow writing to/under "Program Files" or "Program Files (x86)" directories...

There is junctions (compare. symlinks on Linux) for different SDK versions and compiler versions. Previously there was no centralized place to install development libraries and headers, but tha

[2020-11-04 21:15] nmoinvaz commented on #803
Even if you were to do `add_subdirectory` between two CMake projects that have different libraries you still have to use `target_link_libraries` to specify the names of the libraries, and if those library project names change between zlib CMake and zlib-ng  CMake, it no longer becomes drop-in replacement.

[2020-11-04 21:21] mtl1979 commented on #803
@nmoinvaz There is two separate things...

1. being source-wise drop-in replacement
2. being binary-wise drop-in replacement

Like I said earlier, it is easy to use find_package() to find specific library by binary filename and header filename...
We could easily change project/target names for non-compat zlib-ng targets and leave the old ones for compatibility library... This would also allow us t

[2020-11-04 21:25] nmoinvaz commented on #803
I am talking about the project being a CMake drop-in replacement for use with FetchContent or ExternalProject.

[2020-11-04 21:31] mtl1979 commented on #803
@nmoinvaz For that to work, the default values for options would need to be compatible with stock zlib... As such minimum is that compatibility mode is enabled by default, which might not be what we want in the long term...

[2020-11-04 21:31] Lucide commented on #803
@mtl1979 ahh, now I understand, you're talking about find_package()'s module mode. Yes, that's a fully CMake-agnostic approach, but should be reserved for non-native CMake projects.
Modern CMake projects export targets and are found with find_package() config mode.
See here <https://cmake.org/cmake/help/v3.17/command/find_package.html>

Module mode should be excluded in principle. Better to not re

[2020-11-04 21:35] mtl1979 commented on #803
@Lucide I've seen some projects exporting targets and blowing up in developer's face... Generally having target exported doesn't mean something actually works as same target can be exported by multiple projects.

[2020-11-04 21:37] nmoinvaz commented on #803
Right now in minizip I can use `FetchContent` between zlib CMake and zlib-ng CMake and only add `ZLIB_COMPAT=ON`. Changing project names will break this unless we keep it the same when `ZLIB_COMPAT` is enabled.

[2020-11-04 21:49] mtl1979 commented on #803
@nmoinvaz My point was that if adding `ZLIB_COMPAT=ON` is already required, we can safely require more definitions... But if none is required currently, it blows in our face, if we start requiring...

[2020-11-04 21:54] nmoinvaz commented on #803
Yes of course.

[2020-11-06 23:53] KaoDome commented on #800
I'm sorry for the delay guys, I've been swamped this week.

I'm going to close the issue already, we have debated about it and there was enough time for other 3rd parties to add input, but more importantly because at least the GNU C library doesn't implement nor alias those functions with underscores.

I didn't do a comprehensive test, just switched the occurrences where VS was complaining to unde

[2020-11-06 23:53] #800 closed, assigned to nobody

[2020-11-10 17:08] gdevenyi opened #807 "Add coverity github workflow?"
https://scan.coverity.com/github

[2020-11-10 17:08] gdevenyi commented on #807
#805 at least was found by it

[2020-11-10 17:13] nmoinvaz commented on #807
It is already configured, but has limited access.

[2020-11-10 17:14] Dead2 commented on #807
We already have an active coverity profile with zlib-ng, but last time we tried to add it to CI, it ended in a mess. So now I just run manual checks when I feel we have changes that need checking or before releases.

I also don't think Coverity has any integration into Github Actions, only Travis CI, but I may be wrong. When we tried to add it, we used Travis, and there are several issues that nee

[2020-11-10 17:27] gdevenyi commented on #807
huh indeed, shockingly they don't have a workflow in the marketplace and I can't find any pre-canned workflows elsewhere.

Oh well.

[2020-11-10 17:27] #807 closed, assigned to nobody

[2020-11-16 15:37] caiowakamatsu opened #809 "Better usage documentation"
I'm currently using this for a project, and I'm wondering if you guys have this on any type of package manager? I've tried looking around and couldn't actually find much for Mint / Ubuntu (The ones I care about). Is there anyway that there can be documentation on this / Cmake installation instructions?

[2020-11-16 16:56] mtl1979 commented on #809
I'm running Ubuntu, so eventually there will be `.deb` packages... There hasn't been much discussion yet about when we are starting to make binary packages for different Ubuntu versions... I would assume that there will be binary packages around the first official release.

[2020-11-16 17:49] mtl1979 commented on #809
I tried building `.deb` file with following scripts:

debian/control:
[code]

debian/rules:
[code]

There is some other files under the `debian` subdirectory too, but I made a separate zip file, so I can reuse the files with any source zip file.

[2020-11-16 17:52] gdevenyi commented on #809
I think the idea is to use cpack since we already have cmake

[2020-11-16 17:58] mtl1979 commented on #809
We don't have cpack support in the build tree yet... using dh was minimalistic approach as it only requires the flags to configure...

[2020-11-30 11:46] HansBull opened #811 "nginx: "gzip filter failed to use preallocated memory" alerts appeared in logs when using zlib-ng as drop-in replacement"
As the title says, being on Ubuntu 20.04 amd64. This is likely a nginx problem (they made a fix for a similar problem with a Intel gzip version: https://git.kizub.ru/mirrors/nginx/-/commit/f1c4853ea1a981073b067cd1356febd08b86f898 ), but I consider it nevertheless worth reporting here.

[2020-12-01 15:24] mtl1979 commented on #811
Preallocating memory has been discouraged since early days of zlib... Some applications do it nevertheless. As long as the application developer knows how much smaller than necessary their allocation is, they can adjust the code to allocate more.

[2020-12-06 16:34] Byron commented on #714
I repeated performance tests related to deflate decompression performance on Apple Silicon (MacBook Air) using the system provided `git` executable for comparison. It appears it got even faster in scanning through tiny deflate streams, leaving `gitoxide` in the dust.

See [this comment](https://github.com/Byron/gitoxide/issues/5#issuecomment-739525744) for more details.

To my mind the efficient h

[2020-12-16 10:59] Dead2 opened #815 "Oss-fuzz issue 24294"
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=24294

[2020-12-16 11:21] mtl1979 commented on #815
Commit range in the regression report is too broad... it doesn't identify single commit that introduced triggering the assertion failure.

[2020-12-24 22:12] nmoinvaz commented on #815
Appears to be an issue with `invalid match` in `deflate_slow`. Turning off `WITH_OPTIM` doesn't help.

[2020-12-24 23:14] nmoinvaz commented on #815
I believe `s->prev_length` needs to be reset (maybe to 0?) in `fill_window`. What happens is `fill_window` is called and `s->prev_match` is off between deflate calls.

![image](https://user-images.githubusercontent.com/1364432/103111414-a27dd800-4601-11eb-9d17-f22e26c7f402.png)

Results in compressed length of 22016 bytes.

[2020-12-25 00:22] nmoinvaz commented on #815
Here is another option:

![image](https://user-images.githubusercontent.com/1364432/103111541-03f27680-4603-11eb-986f-d4152faea55a.png)

This results in compressed length of 21911 bytes. Basically what it does, is it doesn't fill in the window until it has written the last/prev match so long as it is at least > MIN_MATCH.

With the oss-fuzz use case, it was using level 7.

|Level|7|9|
|-|-|-|
|Gzi

[2020-12-25 00:59] nmoinvaz commented on #815
Looks like Method 2 fails on two CI instances though: https://github.com/nmoinvaz/zlib-ng/runs/1606988187?check_suite_focus=true.

[2020-12-30 20:28] silvioprog opened #816 "Stable release"
Hi.

Is there any plan to publish a stable version?

cheers

[2020-12-30 22:08] mtl1979 commented on #816
Yes... There isn't exact date yet, but we are really close already...

[2021-01-02 11:50] reworks-org opened #818 "CMake syntax string(REGEX) error on Ubuntu."
Trying to configure on ubuntu, recieved the following error:

-- Basearch of 'x86_64' has been detected as: 'x86'
CMake Error at dependencies/zlib-ng/CMakeLists.txt:254 (string):
  string sub-command REGEX, mode REPLACE needs at least 6 arguments total to
  command.

Seems there are some missing arguments.

[2021-01-02 13:08] gdevenyi commented on #818
Please provide the complete configure log.

[2021-01-02 13:16] mtl1979 commented on #818
If variable CMAKE_C_FLAGS_RELEASE is empty, it can fail... In most cases it should not be empty.

[2021-01-08 22:08] nmoinvaz commented on #815
This has been resolved and the 2 open OSS-fuzz issues have been fixed.

[2021-01-08 22:08] #815 closed, assigned to nobody

[2021-01-11 08:37] Neustradamus commented on #816
@Dead2, @nmoinvaz: Can you create a build today?

Really important.

Thanks in advance.

[2021-01-11 19:33] Dead2 commented on #816
@Neustradamus I had planned to do a Release Candidate this week, and can likely do that today.

The first release should follow 2-3 weeks after that, unless a major bug is found. At this point I think that is unlikely, but you never know what could crop up with more widespread testing and scrutiny.

[2021-01-11 21:14] gdevenyi commented on #611
Update as of 2021-01-11:
[code]

[2021-01-11 21:17] gdevenyi commented on #611
Remarks suppressed:
[code]

[2021-01-11 21:27] mtl1979 commented on #611
For me, it looks like icc is having problems with Z_INTERNAL modifier. Functions with Z_INTERNAL should not be externally visible.

[2021-01-11 21:33] nmoinvaz commented on #611
I don't think this is all that helpful.

[2021-01-11 21:35] gdevenyi commented on #611
Okay.

[2021-01-11 21:35] #611 closed, assigned to nobody

[2021-01-12 04:12] #592 closed, assigned to nobody

[2021-01-12 04:12] #612 closed, assigned to nobody

[2021-01-12 05:14] nmoinvaz commented on #488
We are using GitHub Releases which now lists 2 pre-releases. I think we can close this issue. See #816 for most recent release info.

[2021-01-12 06:47] #488 closed, assigned to nobody

[2021-01-15 18:18] nmoinvaz commented on #156
My [minizip](https://github.com/zlib-ng/minizip-ng) repository has now been moved to zlib-ng organization. I will close, but if there is still a need please reopen.

[2021-01-15 19:10] #156 closed, assigned to nobody

[2021-01-16 12:57] mojca opened #827 "Dependent libraries fail to include zconf.h"
If I add `zlib-ng` to `external/zlib-ng` inside my project as use it like this
[code]
I get an error when building the library:
[code]
The file is available under
[code]
but most likely the build directory has not been added to the include path.

The relevant code in `CMakeLists.txt` says
[code]
but `${CMAKE_CURRENT_BINARY_DIR}` points to `...\build\external\zlib-ng` rather than `...\build\externa

[2021-01-16 13:43] mtl1979 commented on #827
add_subdirectory() is missing second parameter. This will add the required files to include path so it can find Z_EXTERN and all other zlib-ng related defines. Without second parameter it doesn't include any files created inside CMakeLists.txt of zlib-ng.

[2021-01-16 15:54] mojca commented on #827
What should the second parameter be?

Note that I slightly edited the description. The main problem is not even finding `zconf.h`, but the difference between
[code]
where only the second one contains the required definitions (the first one does not), but `zlib.h` includes the first one. If I edit `zlib.h` to include the second file, everything works fine, but that doesn't sound like "the correct s

[2021-01-16 17:34] mtl1979 commented on #827
Second parameter overrides default binary directory of the subproject so it is subdirectory of the parent project's binary directory.

[2021-01-24 01:26] nmoinvaz commented on #827
Original `zlib` also only produces `zconf.h` in the build directory. I have found that you have to add the `zlib` build directory to [include_directories](https://cmake.org/cmake/help/latest/command/include_directories.html).

Here is an example of me doing it in another project that uses `zlib`:
https://github.com/zlib-ng/minizip-ng/blob/6f17da582d2327c8cdc43622ddd31a185b6ef5fb/CMakeLists.txt#L21

[2021-01-24 02:02] nmoinvaz commented on #827
@mojca I was not able to reproduce your results with CMake 3.18.5. Maybe you have zlib artifacts from when you attempted to incorporate zlib.

CMakeLists.txt:
[code]
hello.cpp:
[code]
Commands (Windows):
[code]
Build output (no errors):
[code]
Source directory contains `zlib-ng.h`, `zconf-ng.h` and `zlib.h`.

When using `-DZLIB_COMPAT=ON`, the source directory contains `zlib-ng.h`, `zconf.h` and `